.blog-title {
    padding: 11px 16px 11px 5vw;
    text-transform: uppercase;
    background: #ead8a9;
    font-weight: 900;
    margin-top: 80px;
    font-size: 24px;
    text-align: right;
    color: #fff;
}


.blog-card-content h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1E5D58;
    margin-bottom: 15px;
}

.blog-card-content h2:hover {
    text-decoration: underline;
}

.blog-card-content p {
    font-size: 16px;
    color: #1E5D58;
    margin-bottom: 20px;
}

.blog-card-content a {
    font-size: 16px;
    color: #1E5D58;
    margin-bottom: 20px;
}

.blog-card-content img {
    width: 20px;
    height: 20px;
}

.blog-card-bg div {
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.source-button {
    display: inline-block;
    padding: 12px 15px;
    color: #fff !important;
    text-transform: uppercase;
    background-color: #1E5D58;
    font-size: 14px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
}

.card-button {
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
    margin-bottom: 0;
}

.card-button:hover {
    padding-left: 10px;
}

.blog-card {
    margin-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #1E5D58;
}

@media (max-width:1025px) {
    .blog-card-bg div {
        height: 15vh;
        background-size: contain;
    }
}

@media (max-width:992px) {
    .blog-card-bg div {
        height: 20vh;
    }
}

@media (max-width:460px) {
    .blog-card-bg div {
        height: 25vh;
        margin-bottom: 20px;
        background-size: cover;
    }
}