.interieur-slider-container {
    position: fixed;
    top: 97px;
    z-index: 2;
    right: 0;
}

.interieur-slider div {
    background-size: cover;
    height: calc(100vh - 97px);
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-slider-top,
.arrow-slider-bottom {
    position: absolute;
    top: 65%;
    z-index: 1488;
    cursor: pointer;
    left: 5%;
}

.arrow-slider-top {
    top: 55%;
}

.interieur-title {
    padding: 11px 16px 11px 0;
    margin-top: 9vh;
    width: 90%;
    text-transform: uppercase;
    background: #ead8a9;
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    text-align: right;
    color: #fff;
}

.interieur-text-content h3 {
    font-size: 32px;
    line-height: 42px;
    color: #1e5d58;
    margin-bottom: 20px;
}

.interieur-text-content h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 24px;
    color: #1e5d58;
}

.interieur-text-content p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 28px;
    color: #1e5d58;
}

.interieur-text-content {
    padding: 0 4vw;
}

.footer {
    background: #fff;
    z-index: 9;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 16px 0;
}

.interieur {
    margin-bottom: 10vh;
}

.interieur-slider {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.contact-button {
    top: 97px;
}

@media(max-width:1200px) {
    .interieur-slider-container {
        position: static;
        top: 97px;
        z-index: 2;
        right: 0;
    }

    .arrow-slider-top,
    .arrow-slider-bottom {
        top: 45%;
    }

    .arrow-slider-bottom {
        top: 50%;
    }

    .interieur-text-content {
        padding: 0 12vw;
    }

    .interieur-title {
        margin-top: 4vh;
        width: 40%;
    }

    .interieur {
        margin-bottom: 6vh;
    }
}

@media(max-width: 992px) {


    .arrow-slider-top,
    .arrow-slider-bottom {
        top: 35%;
    }

    .arrow-slider-bottom {
        top: 40%;
    }

}


@media(max-width: 450px) {


    .arrow-slider-top,
    .arrow-slider-bottom {
        top: 15%;
    }

    .arrow-slider-bottom {
        top: 20%;
    }

    .interieur-slider div {
        height: calc(70vh - 97px);
    }

    .contact-button {
        top: 74px;
    }

    .interieur-title {
        margin-top: 3vh;
        width: 100%;
        text-align: left;
        padding-left: 4vw;
    }

    .interieur-text-content {
        padding: 0 4vw;
    }

    .footer {
        position: static;
    }

    .interieur {
        margin-bottom: 1vh;
    }

}

@media(max-width: 320px) {
    .contact-button {
        top: 57px;
    }

    .arrow-slider-top,
    .arrow-slider-bottom {
        top: 10%;
        left: 1%;
    }

    .arrow-slider-bottom {
        top: 15%;
    }

}