body {
    font-family: 'Lato', sans-serif;
    min-width: 320px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.body-overflow {
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

input,
input:focus,
button,
button:focus,
textarea,
textarea:focus {
    outline: none;
    border: none;
}

.px-header {
    padding: 8px 3.1875vw 8px 2.625vw;
}

.hamburger {
    cursor: pointer;
    transition: all .6s;
}

.hamburger div {
    height: 0px;
    background-color: #285955;
}

.hamburger div:nth-child(1) {
    width: 2.8125vw;
    margin: 0 auto;
    border: 2px solid #285955;
    border-radius: 25px;
}

.hamburger div:nth-child(2) {
    width: 2.8125vw;
    margin: 0px auto;
    margin-top: 10px;
    border: 2px solid #285955;
    border-radius: 25px;
}

.hamburger span {
    text-transform: uppercase;
    color: #1E5D58;
    font-weight: 900;
    font-size: 11pt;
    line-height: 16px;
}

.header {
    position: fixed;
    margin-top: -97px;
    z-index: 350;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
}

.contact-button {
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    z-index: 322;
    position: fixed;
    color: #fff;
    background: #1E5D58;
    padding: 7px 16px 7px 2.625vw;
    text-transform: uppercase;
}

.contact-button:hover {
    color: #fff;
}

.fixed-slider {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    width: 100%;
}

.fixed-slider img {
    width: 90%;
}

.main-mt {
    margin-top: 97px;
}

.slider-container {
    position: fixed;
    top: 97px;
    z-index: 228;
    right: 0;
}

.slider-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 97px);
}

.slider-announce {
    z-index: 2051;
    position: fixed;
    top: 20px;
    left: 43%;
}

.quote-block {
    padding: 0 8vw;
    display: flex;
}

.quote-block p {
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    color: #285955;
}

.arrow-quote {
    background-image: url(.././img/round-arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 60px;
}

.card-container {
    padding: 0 8vw;
}

.quotes-top,
.quotes-bottom {
    position: absolute;
}

.quotes-top {
    top: -10px;
    left: 4.5vw
}

.quotes-bottom {
    bottom: 40px;
    right: 13vw;
}

.card-items span {
    display: block;
    font-size: 14px;
    line-height: 42px;
    color: #285955;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.card-items {
    width: 100%;
    display: inline-flex;
}

.card-items a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
}

.card-items img {
    display: block;
    margin: 0 auto;
}



.second-card h3 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #285955;
}

.second-card a {
    text-decoration: underline;
    font-size: 14px;
    color: #285955;
    text-transform: uppercase;
}

.second-card-content {
    width: 48%;
    border: 1px solid #707070;
}

.second-card-content div {
    background-color: #ABC9C1;
    height: 30vh;
    background-size: cover;
    background-position: 30% 0%;
    background-repeat: no-repeat;
}

.second-card-content p {
    font-size: 18px;
    line-height: 24px;
    padding: 21px 1.25vw;
    margin-bottom: 0;
    color: #285955;

}

.second-card-content a {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background: #1e5d58;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 28px;
    border: 1px solid #707070;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 0;
    display: block;
    text-align: center;
}

.second-card-item {
    display: flex;
    justify-content: space-between;
}

main h1 {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #285955;
}

.second-card {
    margin-bottom: 70px;
}

.main-bootom-content {
    background: #ead8a9;
    position: relative;
}

.main-bootom-content::before {
    content: "\A";
    border-style: solid;
    border-width: 0px 40px 40px 35px;
    border-color: transparent transparent #EAD8A9 transparent;
    position: absolute;
    left: 47.5%;
    top: -40px;
}

.main-bootom-content h2 {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #1e5d58;
    margin-bottom: 20px
}

.main-bootom-content p {
    font-size: 16px;
    line-height: 28px;
    color: #1e5d58;
    padding: 0 4vw;
}

.footer-buttons {
    justify-content: space-evenly;
}

.footer-buttons a {
    background: #1E5D58;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    padding: 18px 20px;
    color: #fff;
}

.footer-contacts {
    background: #abc9c1;
}

.footer-contacts h4 {
    padding-top: 14px;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.footer-contacts p {
    font-size: 16px;
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
}

.footer-contacts a {
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    color: #fff;
}

.footer a {
    font-size: 14px;
    color: #1e5d58;
    margin-right: 1.875vw;
}

.footer a:last-child {
    margin-right: 0;
}

.sidebar {
    background-color: #EAD8A9;
    height: calc(100% - 97px);
    margin-top: 97px;
    position: fixed;
    left: -100%;
    width: 50%;
    bottom: 0;
    transition: 1s all;
    z-index: 10;
}

.active-sidebar {
    left: 0%;
    transition: 1s all;
}

.menu-content a {
    font-weight: bold;
    font-size: 25px;
    color: #1e5d58;
}

.menu-content a > img {
    padding-right: 1vw;
}

.w-40 {
    width: 40%;
}

@media (min-width: 1900px) {
    .w-40 {
        width: 35%;
    }
}

@media (max-width: 1367px) {
    .w-40 {
        width: 45%;
    }
}

@media (max-width: 1200px) {

    .slider-container {
        position: relative;
        top: 0px;
    }

    .sidebar {
        width: 100%;
        z-index: 1000;
    }

    .w-40 {
        width: 30%;
    }

    .quotes-top {
        top: -20px;
        left: 3vw
    }

    .quotes-bottom {
        bottom: 10px;
    }
}

@media (max-width: 992px) {
    .serenity-logo-menu {
        width: 30%;
    }

    .w-40 {
        width: 38%;
    }

    .slider-image {
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
    }

}

@media (max-width: 450px) {
    .header img {
        width: 70%;
    }

    .img-header {
        width: 40% !important;
    }

    .card-items a {
        margin-bottom: 20px;
    }

    .card-items {
        display: block;
    }

    .main-content-image {
        width: 60%;
    }

    .quote-block p {
        font-size: 21px;
        line-height: 32px;
    }

    .quotes-top {
        top: -30px;
        left: 3vw
    }

    .quotes-bottom {
        bottom: 10px;
    }

    .arrow-quote {
        background-size: contain;
    }

    .hamburger div:nth-child(1) {
        width: 70%;
    }

    .hamburger div:nth-child(2) {
        width: 70%;
    }

    .main-mt {
        margin-top: 73px;
    }

    .header {
        margin-top: -73px;
    }

    .second-card-content {
        width: 100%;
    }

    .second-card-item {
        display: block;
    }

    .second-card {
        margin-bottom: 35px;
    }

    .main-bootom-content::before {
        border-width: 0px 20px 20px 15px;
        left: 45%;
        top: -20px;
    }

    .footer-buttons a {
        font-size: 16px;
        padding: 18px 0px;
        color: #fff;
        display: block;
    }

    .contact-button {
        font-size: 20px;
        line-height: 38px;
        z-index: 3220;
        position: fixed;
        top: 73px;
    }

    .w-40 {
        width: 60%;
    }

    .menu-content a {
        font-size: 18px;
    }

    .sidebar {
        background-color: #EAD8A9;
        height: calc(100% - 73px);
        margin-top: 73px;
    }
}

@media (max-width: 325px) {
    .header img {
        width: 50%;
    }

    .img-header {
        width: 34% !important;
    }


    .hamburger div:nth-child(1) {
        width: 60%;
    }

    .hamburger div:nth-child(2) {
        width: 60%;
        margin-top: 5px;
    }

    .main-mt {
        margin-top: 56px;
    }

    .header {
        margin-top: -56px;
    }

    .contact-button {
        top: 57px;
    }

    .second-card h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .footer-contacts a {
        font-size: 22px;
        line-height: 42px;
    }

    .w-40 {
        width: 65%;
    }

    .menu-content a {
        font-size: 16px;
    }

    .sidebar {
        height: calc(100% - 57px);
        margin-top: 57px;
    }
}