@media (max-width: 1367px) {
    .nav-links a {
        margin-right: 1vw !important;
    }

    .nav-links a:last-child {
        margin-right: 0vw !important;
    }

    .you-get span {
        bottom: -23% !important;
    }
}

@media (max-width: 1200px) {
    .order-button {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .results-bg {
        height: 40vh !important;
    }
}

@media (max-width: 1024.99px) {
    .nav-links a {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .you-get {
        padding-top: 5vh !important;
        padding-bottom: 7vh !important;
    }

    .finished-bg {
        height: 35vh !important;
    }

    .info-form {
        padding-bottom: 6vh !important;
    }

    .you-get span {
        bottom: -32% !important;
    }

    .you-get__item {
        height: 15vh !important;
    }

    .finished-arrow__left {
        top: 48% !important;
        left: 0vw !important;
    }

    .finished-arrow__right {
        top: 48% !important;
        right: 0vw !important;
    }

    .work-card__bg {
        height: 15vh !important;
    }

    .banner h3 {
        font-size: 36px !important;
        line-height: 49px !important;
    }

    .banner a {
        width: 60% !important;
        margin-top: 1.5vh !important;
    }

    .banner small {
        font-size: 28px !important;
    }

    span.new-price {
        font-size: 36px !important;
        padding: 8px 10px !important;
    }

    .home p {
        margin-bottom: 4vh !important;
    }

    .who-we {
        padding-top: 5vh !important;
    }

    .finished h2 {
        margin-top: 4vh !important;
    }

    .who-we__text h2,
    .service h2,
    .repair-types h2,
    .why-we h2,
    .results h2,
    .trust h2,
    .modal-content-custom h2,
    .you-get h2,
    .finished h2,
    .repair-work h2 {
        font-size: 38px !important;
        line-height: 50px !important;
    }

    .who-we__bg .bg-place {
        height: 30vh !important;
    }

    .service-card__item {
        height: 20vh !important;
    }

    .service-card p {
        padding: 0 10px !important;
        font-size: 16px !important;
    }

    .who-we__text {
        padding: 0 4% 0 3vw !important;
    }

    .who-we__card {
        margin-top: 4vh !important;
        margin-bottom: 6vh !important;
        height: 15vw !important;
        width: 15vw !important;
    }

    .home h1 {
        font-size: 50px !important;
        line-height: 60px !important;
        margin-bottom: 3vh !important;
    }

    .home {
        padding-top: 10vh !important;
    }

    .home-picture {
        height: 35vh !important;
    }

    .mt-20 {
        margin-top: 5vh !important;
    }

    .my-20 {
        margin-top: 7vh !important;
        margin-bottom: 7vh !important;
    }

    .repair-bg {
        height: 40vh !important;
    }

    .why-we {
        padding-top: 5vh !important;
    }

    .mt-8 {
        margin-top: 5vh !important;
    }

    .results {
        margin-top: 5vh !important;
        margin-bottom: 4vh !important;
    }

    .results-bg {
        height: 30vh !important;
    }

    .results h2 {
        margin-bottom: 4vh !important;
    }

    .why-we__item {
        padding: 0 1vw !important;
        height: 20vh !important;
    }

    .repair-types h2 {
        margin-bottom: 5vh !important;
        margin-top: 5vh !important;
    }

    .repair-types {
        padding-bottom: 6vh !important;
    }

    .pb-12 {
        padding-bottom: 7vh !important;
    }

    .px-body {
        padding: 0 2vw !important;
    }

    .circle-container {
        top: 15% !important;
        z-index: -1 !important;
    }

    .footer-nav-links {
        padding-top: 10.5vh !important;
    }

    .trust {
        padding-bottom: 5vh !important;
        background-image: none !important;
    }

    .py-6 {
        padding-top: 4vh !important;
        padding-bottom: 8vh !important;
    }

    .pt-10 {
        padding-top: 6vh !important;
    }

    .trust-slider {
        margin-bottom: 2vh !important;
    }

    .trust h2 {
        margin-bottom: 4vh !important;
        padding-top: 5vh !important;
    }
}

@media (max-width: 992.98px) {
    .m-hide {
        display: none !important;
    }

    .you-get__card {
        display: block !important;
        border: none !important;
    }

    .bg-slider-text h6 {
        width: 70% !important;
    }

    .work-card__bg {
        height: 22.8vh !important;
    }

    .you-get__item {
        width: 100% !important;
        height: 22.8vh !important;
        background: #5F0E6A;
        border: none !important;
        margin-bottom: 16px;
    }

    .work-card {
        border: none !important;
        padding: 0 15px !important;
        margin-bottom: 15px !important;
    }

    .repair-work span {
        font-size: 64px !important;
    }

    .you-get p {
        font-size: 24px !important;
        color: #fff !important;
    }

    .you-get span {
        font-size: 72px !important;
        color: #fff !important;
        bottom: -25% !important;
    }

    .banner h3 {
        font-size: 36px !important;
        line-height: 44px !important;
    }

    .banner span {
        background: transparent !important;
        font-size: 16px !important;
    }

    .banner a {
        width: 75% !important;
        margin-top: 4vh !important;
    }

    .service-card p {
        padding: 0px !important;
        font-size: 18px !important;
    }

    .home h1 {
        font-size: 40px !important;
        line-height: 49px !important;
        padding: 0 2.125vw;
        margin-bottom: 5vh !important;
    }

    .home p {
        font-weight: 400 !important;
        font-size: 16px !important;
        padding-right: 0 !important;
        color: #FFFFFF;
        margin-bottom: 4.8vh !important;
    }

    .services-row {
        display: block !important;
        padding: 0px 2vw !important;
    }

    .service-card__item {
        height: 25vh !important;
        width: 100% !important;
        padding: 0 10px;
        border-right: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD;
    }

    .service-card__item:last-child {
        border-bottom: 0px solid #BDBDBD;
    }

    .repair-types__card {
        width: 100% !important;
        margin-right: 0% !important;
        margin-bottom: 20px;
    }

    .repair-bg {
        height: 55vh !important;
    }

    .repair-content {
        bottom: 0% !important;
        padding: 20px 28px !important;
    }

    .repair-content h4 {
        font-size: 24px !important;
    }

    .repair-content p {
        font-size: 16px !important;
        margin-top: 6px !important;
        margin-bottom: 15px !important;
    }

    .results-bg {
        height: 55vh !important;
    }

    .info h3 {
        font-size: 36px !important;
        line-height: 44px !important;
    }

    .info p {
        font-size: 16px !important;
        margin-bottom: 4vh !important;
    }

    .pl-10 {
        padding: 0 4vw !important;
    }

    .masters h3 {
        font-size: 36px !important;
        line-height: 44px !important;
        margin-bottom: 19px !important;
    }

    .masters p {
        font-size: 16px !important;
        margin-bottom: 4.5vh !important;
        padding: 0 20px !important;
    }

    .masters {
        background-image: url(.././img/home-page/masters-bg-mob.svg) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .trust-arrow__left,
    .trust-arrow__right {
        position: absolute;
        top: 35% !important;
    }

    .trust-arrow__right {
        right: 2vw;
    }

    .trust-slider small {
        margin-bottom: 28px;
    }

    .footer h3 {
        margin-bottom: 5vh !important;
    }

    .footer-nav-links {
        padding-top: 6vh !important;
    }

    .who-we__card {
        margin-top: 4vh !important;
        margin-bottom: 6vh !important;
        height: 16vw !important;
        width: 16vw !important;
    }

    .who-we__card p {
        font-size: 16px !important;
    }

    .who-we__card h6 {
        font-size: 32px !important;
        line-height: 40px !important;
        margin-bottom: 0px !important;
    }

    .why-we__item {
        padding: 25px 40px !important;
        height: 40vh !important;
        background: #5F0E6A;
        border: none !important;
    }

    .why-we__item h5 {
        font-size: 24px !important;
        color: #fff !important;
        margin-bottom: 17px;
    }

    .why-we__item p {
        font-size: 16px !important;
        color: #fff !important;
    }

    .why-we__item span {
        color: #fff !important;
        bottom: -20% !important;
        right: 10px;
    }

    .why-we__item span {
        bottom: -15% !important;
    }

    .finished-arrow__left {
        top: 37% !important;
    }

    .bg-slider-text {
        background-color: #ECEEF0;
        padding: 4.05vh 4.0625vw 2vh !important;
    }

    .bg-slider-text p {
        font-size: 16px !important;
        margin-bottom: 18px !important;
    }

    .finished-arrow__right {
        top: 37% !important;
    }

    .bg-slider-text h4 {
        font-size: 24px !important;
    }

    .finished-bg {
        height: 40vh !important;
    }

    span.new-price {
        font-size: 42px !important;
        background: #5F0E6A !important;
    }

    span.banner-text-mobile {
        font-size: 16px !important;
        background: #5F0E6A !important;
        display: block;
        text-align: center;
        margin-top: 17px;
    }

    .banner-footer {
        padding-top: 5.7vh !important;
        padding-bottom: 6vh !important;
    }
}

@media (max-width: 768px) {
    .px-body {
        padding: 0 24px !important;
    }
}

@media (min-width: 450.98px) {

    .footer-mob-img {
        display: none;
    }
}

@media (max-width: 450.99px) {

    .who-we__card {
        margin-top: 0vh !important;
        margin-bottom: 6vh !important;
        height: 156px !important;
    }

    .who-we__card p {
        padding: 0 10px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .footer {
        background-image: none !important;
        background: #2A0030;
    }

    .trust-slider p {
        font-size: 16px !important;
    }

    .trust h2 {
        margin-bottom: 6.7vh !important;
        padding-top: 6vh !important;
    }

    .trust-arrow__left,
    .trust-arrow__right {
        position: absolute;
        top: 31% !important;
    }

    .trust-arrow__right {
        right: 24px;
    }

    .px-body {
        padding: 0 24px !important;
    }

    .who-we__text h2,
    .service h2,
    .repair-types h2,
    .why-we h2,
    .results h2,
    .trust h2,
    .modal-content-custom h2,
    .you-get h2,
    .finished h2,
    .repair-work h2 {
        font-size: 32px !important;
        line-height: 39px !important;
    }

    .services-row {
        padding: 0px 24px !important;
    }

    .service-card span {
        font-size: 36px !important;
        padding: 0 6px !important;
    }
}

@media (max-width: 325px) {
    .who-we__card {
        height: 140px !important;
    }

    .service-card__item {
        height: 30vh !important;
    }

    .who-we__circle {
        bottom: 2% !important;
    }

    .why-we__item {
        padding: 25px 20px !important;
        height: 50vh !important;
    }

    .why-we__item span {
        bottom: -25% !important;
    }

    .home {
        padding-top: 15vh !important;
    }

    .finished-arrow__left {
        top: 27% !important;
    }

    .finished-arrow__right {
        top: 27% !important;
    }

}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

input,
input:focus,
button,
button:focus,
textarea,
textarea:focus {
    outline: none;
    border: none;
}

.px-body {
    padding: 0 4vw;
}

.rotate {
    transition: .4s all;
}

.popover__wrapper:hover .rotate {
    transform: rotateX(180deg);
}

.hamburger {
    cursor: pointer;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 48px;
    height: 48px;
    background-color: #5F0E6A;
    border-radius: 100%;
}

.hamburger div {
    height: 3px;
    background-color: #fff;
    transition: all .3s;
}

.hamburger div:nth-child(1) {
    width: 25px;
    margin: 0 auto;
}

.hamburger div:nth-child(2) {
    width: 25px;
    margin: 0 auto;
    margin-top: 4px;
    transition: 1s all;
    opacity: 1;
}

.hamburger div:nth-child(3) {
    width: 25px;
    margin: 0 auto;
    margin-top: 4px;
}

.sidebar__mobile {
    background-color: #2A0030;
    height: calc(110% - 78px);
    margin-top: 78px;
    position: fixed;
    right: -100%;
    width: 100%;
    top: 0;
    transition: 1s all;
    z-index: 1999;
}

.active-sidebar {
    right: 0%;
    transition: 1s all;
}

.nav__chrested {
    cursor: pointer;
    transition: .4s all;
    z-index: 200;
}

.nav__chrested div {
    height: 3px;
    background-color: #fff;
}

.nav__chrested div:nth-child(1) {
    width: 25px;
    transform: rotate(45deg);
}

.nav__chrested div:nth-child(2) {
    opacity: 0;
    position: relative;
    right: -1000%;
}

.nav__chrested div:nth-child(3) {
    width: 25px;
    transform: rotate(-45deg);
    margin-top: -10px;
}

.nav-links a {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 3vw;
}

.nav-links a:last-child {
    margin-right: 0vw;
}

.pl-nav {
    padding-left: 1.25vw !important;
}

.order-button {
    background: #5F0E6A;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px 0;
}

.home {
    padding-top: calc(10vh + 40px);
    position: relative;
    z-index: 5;
}

.home h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 5.2vh;
    color: #FFFFFF;
}

.home p {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    padding-right: 24%;
    color: #FFFFFF;
    margin-bottom: 7.2vh;
}

.home-buttons a {
    display: block;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    transition: .6s all;
    color: #52115A;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
}

.home-buttons a:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: #fff;
}

.home-buttons:nth-child(1) a {
    color: #FFFFFF;
    background: rgba(95, 14, 106, 0.9);
    border: 2px solid rgba(95, 14, 106, 0.9);
}

.home-buttons:nth-child(1) a:hover {
    color: #FFFFFF;
    background: transparent;
    border: 2px solid #ffffff;
}

.mt-20 {
    margin-top: 11.4vh;
}

.home-links a {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 3vw;
}

.home-links {
    padding-bottom: 4.2vh;
}

.who-we {
    background-color: #ECEEF0;
    padding-top: 10.5vh;
}

.who-we__bg {
    position: relative;
    right: 0;
    left: -2.1875vw;
    top: -20px;
}

.who-we__bg .bg-place {
    background-image: url(.././img/home-page/who-we-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 75.9vh;
    background-position: center;
}

.who-we__text {
    padding: 0 12% 0 3.5vw;
}

.who-we__text h2,
.service h2,
.repair-types h2,
.why-we h2,
.results h2,
.trust h2,
.modal-content-custom h2,
.you-get h2,
.finished h2,
.repair-work h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #0F0F0F;
    margin-bottom: 0;
}

.who-we__text p {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #0F0F0F;
    margin-bottom: 0;
}

.who-we__text span {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #fff;
}

.who-we__card {
    background: #FFFFFF;
    margin-top: 9.8vh;
    margin-bottom: 16.6vh;
    height: 10.25vw;
    width: 10.25vw;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

.who-we__card div {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.who-we__card h6 {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #5F0E6A;
    margin-bottom: 5px;
}

.who-we__card p {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #0F0F0F;
}

.service h2 {
    margin-bottom: 5.7vh;
}

.repair-types h2 {
    margin-bottom: 7.6vh;
    margin-top: 7.75vh;
}

.results h2 {
    margin-bottom: 8.9vh;
}

.finished h2 {
    margin-top: 9vh;
}

.trust h2 {
    margin-bottom: 9.76vh;
    padding-top: 7.85vh;
}

.home-bg {
    background-color: #2A0030;
}

.service-card__item {
    background-repeat: no-repeat;
    background-position: 50% 1000px;
    background-size: cover;
    background-image: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35.5vh;
    transition: .6s all;
    width: 20%;
    border-left: 1px solid #BDBDBD;
}

.service-card__item:hover {
    background-position: center center;
}

.service-card__item:hover p {
    color: #FFFFFF;
}

.service-card__item:hover span {
    opacity: 0;
}

.service-card p {
    padding: 0 34px;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 0;
    color: #0F0F0F;
    text-align: center;
    transition: .8s all;
}

.service-card span {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    padding: 0 34px;
    text-align: right;
    color: #5F0E6A;
    transition: .8s all;
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.services-row {
    display: flex;
    justify-content: center;
    padding: 0px 4vw;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.services-row:last-child {
    border-top: none;
}

.service-card__item:last-child {
    border-right: 1px solid #BDBDBD;
}

.who-we-bg-top {
    position: absolute;
    top: 10%;
    right: 0;
}

.who-we-bg-bottom {
    position: absolute;
    right: 0;
    bottom: 12%;
}

.service {
    margin: 7vh 0;
}

.masters {
    background: #2A0030;
    position: relative;
    z-index: 5;
}

.masters a {
    background: rgba(255, 255, 255, 0.9);
    padding: 18px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-align: center;
    color: #52115A;
}

.masters h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 28px;
    color: #FFFFFF;
}

.masters p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 5.6vh;
    color: #FFFFFF;
    padding-right: 7%;
}

.masters-bg {
    background-image: url(.././img/home-page/staryi.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 5;
    position: relative;
}

.pl-10 {
    padding-left: 4vw !important;
}

.my-20 {
    margin-top: calc(11.4vh - 22px);
    margin-bottom: 11.4vh;
}

.repair-bg {
    background-image: url(.././img/home-page/cosmetic.png);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 71vh;
}

.repair-content {
    position: absolute;
    bottom: -30%;
    background: #5F0E6A;
    width: 100%;
    padding: 29px;
    transition: .6s all;
}

.repair-types__card:hover .repair-content {
    bottom: 0%;
}

.repair-content h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 0;
    color: #FFFFFF;
}

.repair-content p {
    font-size: 18px;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 34px;
    color: #FFFFFF;
}

.repair-content a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #fff;
    padding: 18px;
    display: block;
    color: #52115A;
}

.repair-types__card {
    width: 32%;
    overflow-y: hidden;
    margin-right: 2%;
}

.repair-types__card:last-child {
    margin-right: 0;
}

.repair-types {
    padding-bottom: 9vh;
    position: relative;
    z-index: 5;
}

.why-we {
    background: #ECEEF0;
    padding-top: 9vh;
    position: relative;
    z-index: 30;
}

.why-we__cards {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(42, 0, 48, 0.3);
    border-bottom: 1px solid rgba(42, 0, 48, 0.3);
}

.mt-8 {
    margin-top: 8.9vh;
}

.why-we__cards:last-child {
    border-top: none;
}

.why-we__item {
    padding: 0 2.5vw 0 1.4375vw;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35.5vh;
    transition: .8s all;
    width: 25%;
    border-left: 1px solid rgba(42, 0, 48, 0.3);
    overflow-y: hidden;
}

.why-we__item h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    transition: .6s all;
}

.why-we__item p {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    transition: .6s all;
    color: #000000;
}

.why-we__item span {
    font-weight: bold;
    font-size: 96px;
    line-height: 140%;
    position: absolute;
    color: #5F0E6A;
    bottom: -23%;
    align-self: flex-end;
    transition: .6s all;
}

.why-we__item:hover {
    background: #5F0E6A;
    background-position: center center;
}

.why-we__item:hover p,
.why-we__item:hover h5 {
    color: #FFFFFF;
}

.why-we__item:hover span {
    color: #ECEEF0;
}

.why-we__item:last-child {
    border-right: 1px solid rgba(42, 0, 48, 0.3);
}

.pb-12 {
    padding-bottom: 12.7vh;
}

.results {
    margin-top: 8.1vh;
    margin-bottom: 7.1vh;
}

.results-bg {
    z-index: 1;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 76vh;
}

.results-arrow__left,
.results-arrow__right {
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
}

.results-arrow__left {
    left: 15%;
}

.results-arrow__right {
    right: 15%;
}

.results-slider {
    cursor: grab;
}

.info {
    background-color: #2A0030;
    position: relative;
    z-index: 10;
}

.info span {
    background-color: #5F0E6A;
}

.info h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 138%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.info p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 6.7vh;
    color: #FFFFFF;
}

.info-form input {
    width: 100%;
    padding: 18px 2vw;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background: transparent;
}

.info-form input,
.info-form input::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.pt-10 {
    padding-top: 10.8vh;
}

.info-form button {
    background: rgba (255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #52115A;
}

.info-form {
    padding-bottom: 12.7vh;
}

.trust {
    position: relative;
    padding-bottom: 12.2vh;
    background-image: url(.././img/home-page/qwerty.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.trust-slider {
    cursor: grab;
    width: 100%;
    margin-bottom: 5vh;
}

.trust-slider p {
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.trust-slider small {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    margin-top: 10px;
    display: block;
    color: #000000;
}

.slider-counters {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #BDBDBD;
}

.slider-counters span {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #5F0E6A;
    padding-right: 22px;
}

.trust-arrow__left,
.trust-arrow__right {
    cursor: pointer;
    z-index: 1488;
}

.footer {
    background-image: url(.././img/home-page/footer-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    position: relative;
    padding-top: 6.1vh;
}

.footer h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 8.4vh;
}

.footer-socail__links a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 18px;
    color: #FFFFFF;
    transition: .4s all;
}

.footer-socail__links a:hover {
    padding-left: 1vw;
}

.footer-nav-links a {
    font-size: 18px;
    line-height: 140%;
    display: block;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.footer-nav-links a:last-child {
    margin-bottom: 0px;
}

.footer-nav-links {
    padding-top: 12vh;
}

.footer-form input {
    width: 100%;
    margin-bottom: 16px;
    padding: 18px 32px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.footer-form input,
.footer-form input::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-form button {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #52115A;
    padding: 18px 0px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.studio-reference,
.studio-reference a {
    font-size: 14px;
    line-height: 115.9%;
    color: #FFFFFF;
}

.studio-link {
    font-weight: 500;
}

.py-6 {
    padding-top: 6.2vh;
    padding-bottom: 10.4vh;
}

.verical-line {
    position: absolute;
    left: 0;
    z-index: 1;
    height: 110vh;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.verical-line-2 {
    position: absolute;
    right: 0;
    height: 110vh;
    z-index: 1;
    width: 1px;
    background-color: rgba(234, 229, 234, 0.1);
}

.info-trust {
    z-index: 1;
    position: relative;
}

.lines-container {
    width: 100%;
    position: relative;
}

.verical-line_w {
    background-color: rgba(42, 0, 48, 0.1);
}

.masters-repair {
    z-index: 3;
    position: relative;
}

.home-picture {
    background-image: url(.././img/repair/home-img-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

.home-picture-2 {
    background-image: url(.././img/repair/home-img-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}

.circle-container {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 1;
}

.sidebar-links a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 3vh;
}

.sidebar-repair__types a {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.sidebar-repair__types a:last-child {
    margin-bottom: 24px;
}

.sidebar-repair__types {
    margin-top: 8px;
}

.sidebar-social__links {
    width: 100%;
    margin-top: 70px;
}

.sidebar-social__links a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.mobile-navbar {
    padding: 15px 0;
}

.navbar-custom {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 24px 0;
}

.mobile-navbar-container {
    background-color: #2A0030;
}

.footer-mob-img {
    position: absolute;
    bottom: 0;
}

.sect2-pos {
    position: relative;
    right: -24px;
}

.card-my {
    transform: translateY(65%);
}

.who-we__circle {
    position: absolute;
    right: 0px;
    bottom: 4%;
}

.why-we-mobile-slider {}

.whywe-mobile__left {
    position: absolute;
    z-index: 1488;
    top: 60%;
    left: 0;
}

.whywe-mobile__right {
    position: absolute;
    z-index: 1488;
    top: 60%;
    right: 0;
}

.modal-content-custom input {
    width: 100%;
    border: 2px solid #ECEEF0;
    margin-bottom: 20px;
    padding: 18px 30px;
    transition: .4s all;
}

.modal-content-custom input:focus {
    border: 2px solid #5F0E6A;
}

.modal-content-custom input,
.modal-content-custom input::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #0b0b0b;
}



.popover__wrapper {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -15px;
    transform: translate(0, 10px);
    background-color: #ECEEF0;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    width: auto;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__content a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-align: left;
    margin: 0.75rem 0;
    color: #2A0030;
    transition: .4s all;
}

.popover__content a:hover {
    color: #5F0E6A;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ECEEF0 transparent;
    transition-duration: 0.6s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.modal-content-custom h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    color: #0b0b0b;
}

.modal-content-custom {
    padding: 50px 0;
}

.form-modal-button {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 18px 0;
    background: #5F0E6A;
    color: #FFFFFF;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
}

.repair-content-pos {
    bottom: -43.3%;
}

.you-get {
    padding-top: 9.2vh;
    background: #ECEEF0;
    position: relative;
    z-index: 30;
    padding-bottom: 12.7vh;
}

.you-get small {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 157%;
    margin-bottom: 30px;
    color: #000000;
}

.you-get p {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    padding: 0 3.75vw;
}

.you-get__item:hover p {
    color: #fff;
}

.you-get__item:hover span {
    color: #fff;
}

.you-get span {
    font-weight: bold;
    font-size: 96px;
    line-height: 140%;
    color: #5F0E6A;
    position: absolute;
    bottom: -40%;
    right: 0;
    transition: .6s all;
}

.you-get__card {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(42, 0, 48, 0.3);
    border-right: 1px solid rgba(42, 0, 48, 0.3);
}

.you-get__item {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 25%;
    border-left: 1px solid rgba(42, 0, 48, 0.3);
    border-bottom: 1px solid rgba(42, 0, 48, 0.3);
    height: 22.8vh;
    overflow-y: hidden;
    transition: .6s all;
    cursor: pointer;
}

.you-get__item:hover {
    background-color: #5F0E6A;
}

.you-get__item_bg {
    background: #ECEEF0;
    cursor: inherit;
}

.you-get__item_bg:hover {
    background: #ECEEF0;
}

.finished-bg {
    height: 58.3vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-slider-text {
    background-color: #ECEEF0;
    padding: 4.05vh 4.0625vw;
}

.bg-slider-text p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 32px;
    color: #0b0b0b;
}

.bg-slider-text h4 {
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    display: block;
    color: #000000;
    width: 100%;
    margin-bottom: 4.2vh;
}

.bg-slider-text h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    width: 20%;
}

.bg-slider-text span {
    font-weight: normal;
    font-size: 18px;
    display: block;
    line-height: 140%;
    color: #000000;
}

.finished-slider {
    margin-bottom: 8vh;
    cursor: grab;
}

.banner {
    background: #2A0030;
}

.banner small {
    font-weight: 600;
    font-size: 36px;
    line-height: 115.9%;
    text-decoration: line-through;
    color: #C22929;
    margin-bottom: 30px;
    display: block;
}

.banner a {
    background: rgba(255, 255, 255, 0.9);
    padding: 18px 0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #52115A;
    width: 55%;
    margin-top: 3.7vh;
}

.banner span {
    background: #5F0E6A;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 2px 0;
}

.banner h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

span.new-price {
    font-weight: bold;
    font-size: 48px;
    line-height: 115.9%;
    color: #FFFFFF;
    background: #5F0E6A;
    padding: 12px 15px;
}

.work-card {
    border: 1px solid #BDBDBD;
    padding: 25px 27px;
    margin-bottom: 32px;
}

.work-card__bg {
    background-image: url(.././img/repair/how-we-work.png);
    background-size: cover;
    background-position: center;
    height: 29vh;
    background-repeat: no-repeat;
}

.repair-work span {
    font-weight: bold;
    font-size: 96px;
    line-height: 140%;
    color: #5F0E6A;
}

.repair-work h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}

.repair-work p {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 0;
    color: #000000;
}

.finished-arrow__left {
    position: absolute;
    cursor: pointer;
    z-index: 228;
    top: 53.5%;
    left: 2.75vw;
}

.finished-arrow__right {
    position: absolute;
    cursor: pointer;
    z-index: 228;
    top: 53.5%;
    right: 2.75vw;
}

.banner-footer {
    padding-top: 7.1vh;
    padding-bottom: 8vh;
    margin-bottom: 3px;
}

a.w-30 {
    width: 32%;
    margin-top: 4.5vh;
}