body {
    min-width: 320px;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #17181D;
    margin: 0;
    padding: 0;
}

a, button {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

input,
input:focus,
button,
button:focus,
textarea,
textarea:focus {
    outline: none;
    border: none;
}

.px-body {
    padding: 0 6.75vw;
}

.header {
    padding: 18px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #17181D;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.nav-links a {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.g-button {
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.6);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
    padding: 10px 1.75vw;
    display: inline-block;
}

.home-headings h1 {
    margin-top: 9.5vh;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 3.9vh;
}

.home-headings p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 6vh;
}

.home-headings a {
    padding: 16px 2.625vw;
}

.home-headings {
    margin-top: 93px;
    background-image: url(../.././assets/img/sect-1-bg.png);
    background-size: 55% 100%;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 20vh;
}

.home-info {
    padding-bottom: 35.5vh;
    background-image: url(../.././assets/img/sect-2-bg.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.home-info h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 6.3vh;
}

.home-info span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.home-info p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 5vh;
}

.home-sect3 {
    background: linear-gradient(270deg, #F38936 0%, #F3AA4B 100%);
    padding-bottom: 7vh;
    padding-top: 7vh;
}

.home-sect3 h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 6vh;
}

.home-sect3 p {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 7vh;
    color: #FFFFFF;
}

.home-sect3 a {
    align-self: center;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 20px 2.5vw;
    background: #17181D;
    box-shadow: 0px 8px 20px rgba(34, 33, 48, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
}

.sect3-block {
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    background-image: url(../.././assets/img/sect-3-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7vh 3.5vw 7vh 4.875vw;
}

.home-sect4 {
    padding: 24.5vh 0 19.5vh;
    background-image: url(../.././assets/img/sect-4-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.home-sect4 h6 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 6vh;
    color: #FFFFFF;
}

.home-sect4 span {
    font-weight: bold;
    margin-bottom: 5vh;
    display: block;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-sect4 p {
    margin-bottom: 5vh;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.sect5-block {
    background: linear-gradient(270deg, #F38936 0%, #F3AA4B 100%);
    padding-left: 6.75vw;
}

.sect5-block h6, .testimonials-h2 {
    margin-top: 10.5vh;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 4.2vh;
}

.sect5-block p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 6vh;
}

.sect5-block a {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 2.5vw;
    align-self: center;
    text-align: center;
    background: #17181D;
    display: inline-block;
    box-shadow: 0px 8px 20px rgba(34, 33, 48, 0.25);
    margin-bottom: 10.5vh;
    border-radius: 5px;
}

.sect5-bg div {
    height: 100%;
    background-image: url(../.././assets/img/sect-5-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.home-sect6 {
    background-image: url(../.././assets/img/sect-2-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-top: 20.5vh;
    padding-bottom: 40vh;
}

.home-sect6 h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 6vh;
    color: #FFFFFF;
}

.home-sect6 p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 6vh;
    color: #FFFFFF;
}

.home-sect6 span {
    font-weight: bold;
    display: block;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 32px;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-podcast {
    padding-top: 13.5vh;
    padding-bottom: 8vh;
    position: relative;
    background: #262733;
}

.home-podcast h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 6vh;
    color: #FFFFFF;
}

.home-podcast a {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding: 16px 2.6875vw;
    text-transform: uppercase;
    display: block;
    color: #FFFFFF;
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.25);
    border-radius: 5px;
    text-align: center;
}

.podcast-card {
    background: #262733;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding: 4vh 2vw;
    width: 32%;
}

.podcast-card h3 {
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
    color: #FFFFFF;
}


.podcast-card p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 32px;
    color: #FFFFFF;
}

.home-video-form {
    padding: 16.9vh 0;
}

.home-video-form h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 9.5vh;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home-video-form h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 4.2vh;
    margin-top: 10.5vh;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home-video-form input {
    font-weight: bold;
    color: #17181D;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    letter-spacing: 0.04em;
}

.home-video-form input::placeholder {
    font-weight: bold;
    color: #17181D;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    opacity: .2;
}

.home-video-form button {
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.6);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding: 16px 0;
    width: 100%;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
}

.home-video-form p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
    color: #FFFFFF;
}

.home-video-form a {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
    color: #6565FF;
}

.home-slider-left,
.home-slider-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-slider-block {
    background: #262733;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding: 8.5vh 0;
}

.home-slider-block img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5vh;
}

.home-slider-block p {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 5.2vh;
    color: #FFFFFF;
    padding: 0 12.1875vw;
}

.home-slider-block span {
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.home-slider {
    padding-bottom: 16.9vh;
}

.home-slider h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 8.4vh;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.left-sound {
    position: absolute;
    top: 11.5%;
    left: 0;
}

.right-sound {
    position: absolute;
    bottom: 6.5%;
    right: 0;
}

.home-sect11 {
    padding: 17.5vh 0;
}

.home-sect11 h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6vh;
    color: #FFFFFF;
}

.home-sect11 a {
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.25);
    border-radius: 5px;
    font-weight: bold;
    display: block;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 16px 1.75vw;
    color: #FFFFFF;
    align-self: center;
}

.about-images img {
    width: 100%;
    margin-bottom: 5.8vh;
}

.about-images img:last-child {
    margin-bottom: 0;
}

.about-block h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #17181D;
    margin-bottom: 25px;
}

.about-block h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FF6824;
    margin-bottom: 0;
}

.about-block h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #17181D;
    margin-bottom: 25px;
}

.about-block p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #17181D;
    margin-bottom: 20px;
}

.about-block a {
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 8px 20px rgba(88, 86, 114, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    display: inline-block;
    padding: 16px 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
}

.about-block {
    padding: 14vh 6.75vw;
}

.about-block-line {
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    height: 1px;
    margin-bottom: 20px;
    margin-top: 5vh;
}

.about-block-line-bot {
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    height: 1px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.home-slider-left img,
.home-slider-right img {
    cursor: pointer;
}

.footer span {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-social a {
    margin-left: 1.5vw;
    transition: .4s all;
}

.footer-social a:hover {
    transform: translateY(-5px) scale(1.1) rotate(15deg);
}

.footer-social a:first-child {
    margin-left: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    background: #17181D;
    width: 100%;
    z-index: 2000;
    height: calc(100% - 80px);
    margin-top: 80px;
    transition: 1s all;
}

.active-sidebar {
    right: 0%;
    transition: 1s all;
    overflow: hidden;
}

.sidebar-head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 20px 14px;
    background: #17181D;
}

.hamburger {
    padding: 7px;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger div {
    height: 3px;
    background-color: #fff;
    transition: all .3s;
}

.hamburger div:nth-child(1) {
    width: 32px;
}

.hamburger div:nth-child(2) {
    width: 32px;
    margin-top: 8px;
    transition: 1s all;
    opacity: 1;
    position: relative;
    top: 0;
    right: 0%;
}

.hamburger div:nth-child(3) {
    width: 32px;
    margin-top: 8px;
}

.hamburger-crossed {
    cursor: pointer;
    transition: .4s all;
    z-index: 200;
}

.hamburger-crossed div {
    height: 3px;
    background-color: #fff;
    transition: .4s all;
}

.hamburger-crossed div:nth-child(1) {
    width: 32px;
    transform: rotate(45deg);
}

.hamburger-crossed div:nth-child(2) {
    opacity: 0;
    position: relative;
    top: 0;
    right: -1000%;
}

.hamburger-crossed div:nth-child(3) {
    width: 32px;
    transform: rotate(-45deg);
    margin-top: -14px;
}

.sidebar-links {
    margin: 0 auto;
    margin-top: 15vh;
    display: block;
}

.sidebar-links li {
    margin-bottom: 3.2vh;
    text-align: center;
}

.sidebar-links a {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 3.2vh;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sidebar-links li:last-child {
    margin-bottom: 0;
}

.sidebar-social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar-social a {
    margin-right: 40px;
}

.sidebar-social a:last-child {
    margin-right: 0;
}

.sidebar span {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.sidebar-bottom {
    margin-top: 23vh;
}

.sect4-mobile,
.sect5-mobile {
    height: 36vh;
    background-image: url(../.././assets/img/sect4-mobile-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sect5-mobile {
    background-image: url(../.././assets/img/sect5-mobile-img.png);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav {
    margin: 32px auto 28px;
}

.mobile-nav a {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 4px;
    display: block;
}

/*************************TESTIMONIALS-CSS******************************************/

.testimonials-info {
    margin-top: 93px;
    padding: 10vh 0 17vh;
}

.testimonials-info h1,
.incubator h1,
.podcasts h1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.testimonials-info p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.testimonials-info a {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    padding: 16px 28px;
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.6);
    border-radius: 5px;
    align-self: center;
    margin-top: 48px;
}

.video-block {
    background: #262733;
    padding: 7vh 4vw;
}

.video-block p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 4vh;
}

.video-block span {
    font-style: italic;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.testimonials-sect3-text {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 4.5vh 2.5vw 7vh;
}

.testimonials-sect3-text p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.testimonials-sect3-text span {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.testimonials-sect3 {
    margin-top: 13vh;
}

.testimonials-sect3-block {
    margin-bottom: 13vh;
}

.testimonials-my {
    margin: 13vh 0;
}


.testimonials-my p {
    padding-right: 10vw;
}

.testimonials-comments {
    margin-bottom: 13vh;
}

.comments-card {
    background: #262733;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding: 5vh 1.625vw;
    width: 32%;
}

.comments-card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

.comments-card p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.comments-card span {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
    display: block;
}

.mt-8 {
    margin-top: 8vh;
}


/******************INCUBATOR-CSS*********************/

.incubator-info {
    margin-top: 93px;
    padding-top: 13vh;
    padding-bottom: 30vh;
    background-image: url(../.././assets/img/incubator/sect1-bg.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.incubator-info a {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding: 16px 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.6);
    border-radius: 5px;
}

.incubator h2, .incubator h6 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.incubator-sect2 h2 {
    margin-bottom: 48px;
}

.incubator p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.incubator-sect2 p {
    margin-bottom: 24px;
}

.incubator span {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.04em;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.incubator-checkmark {
    margin: 17vh 0 20vh;
}

.checkmark-card {
    display: flex;
    justify-content: center;
    width: 20%;
}

.checkmark-card div {
    display: flex;
    padding: 10vh 0;
    justify-content: center;
    flex-direction: column;
    background: #262733;
    width: 100%;
}

.checkmark-card span {
    display: block;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 20px;
}

.checkmark-card .illuminated {
    background: #2E2F3F;
}

.incubator-sect3 {
    padding-bottom: 20vh;
    background-image: url(../.././assets/img/incubator/sect3-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: fill;
}

.incubator-sect3 h2 {
    margin-bottom: 48px;
}

.incubator-sect3 p {
    margin-bottom: 24px;
}

.incubator-sect5 {
    padding: 20vh 0;
    background-image: url(../.././assets/img/incubator/sect5-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: fill;
}

.incubator-sect5 h2 {
    margin-bottom: 48px;
}

.incubator-sect5 p {
    margin-bottom: 30px;
}

.incubator h3 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.incubator-sect5 h3 {
    margin: 18px 0 40px;
}

.incubator-sect5 ul {
    position: relative;
    margin-left: 0;
    padding-left: 1.2em;
}

.incubator-sect5 ul li {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 12px;
    color: #FFFFFF;
    padding-left: 16px;
}

.incubator-sect5 ul li::before {
    content: "\2022";
    font-size: 36px;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    margin-left: 0px;
    vertical-align: bottom;
    position: absolute;
    left: 0;
}

.incubator-inhalte {
    background: #262733;
    padding: 10vh 0 10vh;
}

.inhalte-bg div {
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.incubator-inhalte h3 {
    margin-bottom: 32px;
}

.incubator-inhalte p {
    margin-bottom: 30px;
}

.incubator-inhalte-line {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 80px;
    margin-top: 9.5vh;
    width: 100%;
}

.incubator-inhalte button {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
    display: block;
    margin: 0 auto;
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    box-shadow: 0px 4px 20px rgba(17, 19, 20, 0.25);
    border-radius: 5px;
    padding: 16px 5vw;
}

.incubator .incubator-my {
    margin: 10vh 0 11.5vh;
}


/******************PODCASTS-CSS*********************/


.podcasts-counts {
    margin-bottom: 32px;
}

.podcasts-block {
    margin-top: 93px;
    padding: 10vh 0 7vh;
}

.podcasts-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 93px;
}

.podcasts-counts h5 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.podcasts-counts div {
    margin-right: 3.5vw;
}

.podcasts-counts div:last-child {
    margin-right: 0;
}

.podcasts-counts span {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.podcasts-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.podcasts-text span {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.podcasts-text {
    margin-bottom: 40px;
}

.podcasts-buttons a {
    background: #0b0b0b;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
    border-radius: 10px;
    width: 198px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    margin-right: 17px;
}

.podcasts-buttons a:last-child {
    margin-right: 0;
}

.podcasts-buttons {
    padding-bottom: 3vh;
}

.podcasts-line {
    margin: 6vh 0 5vh;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.podcasts-listen h3 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.podcasts-listen p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.podcasts-listen small {
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.3);
    display: block;
    align-self: center;
    margin-left: 40px;
}

.podcasts-listen a {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    display: inline-block;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 20px;
    background: #17181D;
}

.podcasts-listen img {
    margin-right: 14px;
}

.podcasts-border-wrap {
    position: relative;
    background: linear-gradient(270deg, #FF8424 0%, #FF6624 100%);
    border-radius: 5px;
    padding: 3px;
}

.podcasts h4 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1350px) {

    .podcasts-buttons a {
        width: 198px;
        height: 48px;
        display: flex;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .podcasts-buttons a:last-child {
        margin-bottom: 0;
    }
}


@media (max-width: 1025px) {
    .px-body {
        padding: 0 4vw;
    }

    .home-headings h1 {
        margin-top: 5vh;
        font-size: 50px;
        line-height: 74px;
        margin-bottom: 3vh;
    }

    .home-headings {
        background-image: url(../.././assets/img/sect-1-bg.png);
        background-size: contain;
        padding-bottom: 5vh;
    }

    .home-headings p {
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 3vh;
    }

    .home-info {
        padding-bottom: 15vh;
        background-size: contain;
    }

    .home-info h2 {
        margin-bottom: 3vh;
    }

    .home-info p {
        margin-bottom: 2vh;
    }

    .sect3-block {
        padding: 3vh 2vw 3vh 2vw;
    }

    .home-sect4 {
        padding: 7vh 0 7vh;
        background-size: 50% 80%;
        background-position: 100% 100%;
    }

    .home-sect4 h6 {
        margin-bottom: 3vh;
    }

    .home-sect4 span {
        margin-bottom: 2.5vh;
    }

    .home-sect4 p {
        margin-bottom: 2vh;
    }

    .sect5-block {
        padding-left: 4vw;
    }

    .sect5-block h6, .testimonials-h2 {
        margin-top: 3vh;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 2vh;
    }

    .sect5-block p {
        margin-bottom: 3vh;
    }

    .sect5-block button {
        margin-bottom: 3vh;
    }


    .sect5-block a {
        margin-bottom: 4vh;
    }

    .home-sect6 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 100%;
        padding-top: 6vh;
        padding-bottom: 10vh;
    }

    .home-sect6 h6 {
        margin-bottom: 3vh;
    }

    .home-sect6 p {
        margin-bottom: 2vh;
    }

    .home-podcast {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .home-podcast h6 {
        margin-bottom: 3vh;
    }

    .podcast-card {
        padding: 2vh 1vw;
    }

    .podcast-card h3 {
        margin-top: 15px;
    }

    .left-sound {
        top: 7%;
        left: -7.5%;
    }

    .right-sound {
        bottom: 7%;
    }

    .home-video-form {
        padding: 6vh 0;
    }

    .home-video-form h6 {
        margin-bottom: 5vh;
    }

    .home-video-form h3 {
        margin-bottom: 3vh;
        margin-top: 5vh;
    }

    .home-slider {
        padding-bottom: 8vh;
    }

    .home-slider h6 {
        margin-bottom: 4vh;
    }

    .home-slider-block {
        padding: 3vh 0;
    }

    .home-slider-block p {
        margin-bottom: 3vh;
        color: #FFFFFF;
        padding: 0 8vw;
    }

    .home-slider-block img {
        margin-bottom: 3vh;
    }

    .home-sect11 {
        padding: 8vh 0;
    }

    .about-block {
        padding: 7vh 4vw;
    }

    .about-block h6 {
        font-size: 32px;
        line-height: 44px;
    }

    .about-block-line {
        margin-bottom: 20px;
        margin-top: 2vh;
    }

    /*************************TESTIMONIALS-CSS******************************************/
    .testimonials-info {
        padding: 5vh 0 6vh;
    }

    .video-block {
        padding: 3vh 4vw;
    }

    .testimonials-sect3-text {
        padding: 3vh 2.5vw 3vh;
    }

    .testimonials-sect3 {
        margin-top: 6vh;
    }

    .testimonials-sect3-block,
    .testimonials-comments {
        margin-bottom: 6vh;
    }

    .testimonials-my {
        margin: 6vh 0;
    }

    .comments-card {
        padding: 2vh 1.625vw;
    }


    /******************INCUBATOR-CSS*********************/

    .incubator-info {
        margin-top: 93px;
        padding-top: 6vh;
        padding-bottom: 10vh;
        background-position: right;
        background-size: cover;
    }

    .incubator-checkmark {
        margin: 7vh 0;
    }

    .checkmark-card div {
        padding: 4.4vh 0;
    }

    .incubator-sect3 {
        padding-bottom: 7vh;
    }

    .incubator-sect5 {
        padding: 7vh 0;
    }

    .incubator-inhalte {
        padding: 6vh 0 6vh;
    }

    .inhalte-bg div {
        height: 23vh;
    }

    .incubator-inhalte-line {
        margin-bottom: 80px;
        margin-top: 5vh;
    }

    .incubator .incubator-my {
        margin: 6vh 0 6vh;
    }

    /******************PODCASTS-CSS*********************/
    .podcasts-block {
        padding: 6vh 0 3vh;
    }

    .podcasts-line {
        margin: 3vh 0 2.5vh;
    }

    .podcasts-buttons {
        padding-bottom: 2vh;
    }

}

@media (max-width: 993px) {
    .px-body {
        padding: 0 3vw;
    }

    .about-images img {
        margin-bottom: 0;
    }

    .sidebar-social a {
        margin-right: 7.5vw;
    }

    .home-headings h1,
    .testimonials-info h1,
    .incubator h1,
    .podcasts h1, .podcasts h4 {
        font-size: 40px;
        line-height: 60px;
    }

    .g-button {
        width: 50%;
    }

    .sect3-block {
        border: none;
        background-image: none;
        padding: 0;
    }

    .sect5-block a {
        margin: 0 auto;
        margin-bottom: 4vh;
        display: block;
        width: 60%;
    }

    .home-sect4 {
        background-image: none;
        padding: 7vh 0 0vh;
    }

    .home-info {
        background-size: auto;
        background-position: 50% 100%;
    }

    .home-sect6 {
        background-image: none;
        padding-bottom: 0;
    }

    .podcast-card {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 4vh;
        position: relative;
        z-index: 5;
    }

    .home-podcast {
        overflow: hidden;
    }

    .left-sound {
        position: absolute;
        top: 2%;
        z-index: 1;
        left: 28%;
    }

    .right-sound {
        position: absolute;
        bottom: 0%;
        z-index: 1;
        right: 30%;
    }

    .home-podcast a,
    .home-podcast h6 {
        position: relative;
        z-index: 5;
    }

    .home-slider-block {
        background: #17181D;
        border: none;
        padding: 0;
    }

    .home-sect11 h6 {
        margin-bottom: 3vh;
    }

    .home-slider-left,
    .home-slider-right {
        transform: scale(0.75);
        position: relative;
        z-index: 2;
    }

    .home-slider-block p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 3vh;
        padding: 0 8vw;
    }

    .home-slider-block span {
        font-size: 21px;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-social a {
        margin-left: 4vw;
    }

    .home-info h2,
    .home-sect3 h2,
    .home-sect4 h6,
    .sect5-block h6, .testimonials-h2,
    .home-sect6 h6,
    .home-video-form h6,
    .home-slider h6,
    .home-sect11 h6,
    .about-block h6,
    .home-podcast h6,
    .incubator h2, .incubator h6 {
        font-size: 32px;
        line-height: 44px;
    }


    /*************************TESTIMONIALS-CSS******************************************/


    .testimonials-info a {
        margin-top: 24px;
    }

    .video-block p {
        margin-bottom: 2vh;
    }

    .testimonials-sect3-text {
        border: 0;
    }

    .comments-card {
        margin: 0 auto;
        margin-bottom: 32px;
        width: 60%;
    }



    /******************INCUBATOR-CSS*********************/
    .checkmark-card {
        margin: 0 auto;
        width: 50%;
    }

    .incubator-sect3 {
        padding-bottom: 0vh;
        background-image: none;
    }

    .incubator-sect5 {
        padding-bottom: 0;
        background-image: none;
    }

    .incubator-sect5-mobile {
        height: 80vh;
        background-position: bottom;
    }

    .inhalte-bg div {
        height: 45vh;
    }



    /******************PODCASTS-CSS*********************/

    .podcasts-sticky {
        position: static;
        top: 0;
    }

    .podcasts-block {
        padding: 3vh 0 3vh;
    }
}

@media (max-width:460px) {

    .home-info h2,
    .home-sect3 h2,
    .home-sect4 h6,
    .sect5-block h6, .testimonials-h2,
    .home-sect6 h6,
    .home-video-form h6,
    .home-slider h6,
    .home-sect11 h6,
    .about-block h6,
    .home-podcast h6,
    .incubator h2, .incubator h6 {
        font-size: 24px;
        line-height: 36px;
    }

    .home-info span,
    .home-info p,
    .home-sect4 p,
    .home-sect4 span,
    .home-sect6 span,
    .home-sect6 p,
    .home-about p,
    .home-slider-block p,
    .incubator p,
    .incubator li {
        font-size: 16px;
        line-height: 28px;
    }

    .left-sound {
        top: 0%;
        left: 5%;
    }

    .right-sound {
        bottom: 0%;
        right: 10%;
    }

    .home-slider-block span {
        font-size: 18px;
    }

    .g-button {
        width: 70%;
    }

    .sidebar-head {
        padding: 16px 14px;
    }

    .sidebar {
        height: calc(100% - 73px);
        margin-top: 73px;
    }

    .mt-8 {
        margin-top: 1vh;
    }

    .home-sect3 a {
        display: inline-block;
        padding: 20px 2.5vw;
        width: 100%;
    }

    .about-block a {
        font-size: 16px;
        width: 100%;
        padding: 16px 4px;
    }

    .about-block h3 {
        font-size: 16px;
        line-height: 28px;
    }

    .sidebar-bottom {
        margin-top: 15vh;
    }

    .about-block h4 {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .about-block img {
        transform: scale(0.67);
    }

    .home-sect11 a {
        font-size: 16px;
    }

    .podcast-card {
        width: 100%;
        padding: 2vh 16px;
    }

    .px-body {
        padding: 0 16px;
    }

    .home-headings h1,
    .testimonials-info h1,
    .incubator h1,
    .podcasts h1, .podcasts h4 {
        font-size: 24px;
        line-height: 40px;
    }

    .home-headings p {
        font-size: 16px;
        line-height: 28px;
    }

    .sect5-block a {
        margin-bottom: 3vh;
        width: 100%;
    }


    /*************************TESTIMONIALS-CSS******************************************/

    .testimonials p {
        font-size: 16px;
        line-height: 28px;
    }

    .comments-card {
        width: 100%;
    }

    .testimonials-sect3-text {
        padding: 0;
    }

    .testimonials-info {
        padding: 3vh 0 6vh;
    }

    /*************************INCUBATOR-CSS******************************************/
    .checkmark-card {
        width: 100%;
    }

    .incubator-sect5-mobile {
        height: 55vh;
        background-position: bottom;
    }

    .incubator-info {
        margin-top: 73px;
        padding-bottom: 7vh;
    }

    .incubator h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .incubator-inhalte button {
        width: 100%;
        padding: 16px 1vw;
    }

    .incubator-inhalte-line {
        margin-bottom: 64px;
        margin-top: 4vh;
    }

    .inhalte-bg div {
        height: 24vh;
        background-size: fill;
        margin-bottom: 30px;
    }

    /******************PODCASTS-CSS*********************/

    .podcasts-counts span {
        font-size: 24px;
        line-height: 36px;
    }

    .podcasts-counts h5,
    .podcasts p {
        font-size: 16px;
        line-height: 28px;
    }

    .podcasts-buttons a {
        width: 264px;
        height: 64px;
    }

    .podcasts-listen h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
    }

}


@media (max-width:321px) {

    .home-info h2,
    .home-sect3 h2,
    .home-sect4 h6,
    .sect5-block h6, .testimonials-h2,
    .home-sect6 h6,
    .home-video-form h6,
    .home-slider h6,
    .home-sect11 h6,
    .about-block h6,
    .home-podcast h6,
    .incubator h2, .incubator h6 {
        font-size: 22px;
        line-height: 32px;
    }

    .about-block h3 {
        font-size: 14px;
    }

    .sidebar span,
    .footer span {
        font-size: 15px;
    }

    .home-headings h1,
    .testimonials-info h1,
    .incubator h1,
    .podcasts h1, .podcasts h4 {
        font-size: 20px;
        line-height: 36px;
    }

    .home-sect3 a,
    .home-sect11 a,
    .sect5-block a,
    .home-video-form button {
        font-size: 16px;
        line-height: 28px;
    } 

    .home-sect11 a,
    .about-block a {
        font-size: 14px;
    }


    .home-slider-left,
    .home-slider-right {
        transform: scale(0.5);
    }

    /*************************TESTIMONIALS-CSS******************************************/

    .testimonials-info a {
        display: block;
    }
}