@media (max-width: 1300px) {
    .sect4 {
        margin-top: 50px !important;
        background-image: none !important;
    }
}

@media (max-width: 991.98px) {
    .px-container {
        padding: 0 20px !important;
    }

    .navbar__px-container {
        padding: 0px
    }

    .navbar-brand {
        width: 74px !importnat;
        height: 74px !important;
        padding-top: 2px !important;
        margin-left: 20px !important;
    }

    .brand__m {
        width: 74px;
        height: 74px;
    }

    .navbar {
        background-image: none !important;
        background-color: transparent !important;
    }

    .sect1__button {
        display: block !important;
        margin-top: 52px;
        padding-bottom: 120px !important;
    }

    .sect1__margin {
        margin-top: 41px;
        padding-left: 0px !important;
    }

    .sect1__button_left {
        padding: 17px 22px !important;
        font-size: 1.375rem;
        line-height: 29px;
    }

    .sect1__button_right {
        font-size: 1.375rem;
        line-height: 29px;
        padding: 17px 20px !important;
        margin-left: 0 !important;
        margin-top: 13px;
    }

    .sect1__subtitle {
        font-weight: 300;
        font-size: 20px !important;
        line-height: 23px !important;
        letter-spacing: 0.09em;
    }

    .sect1__subtitle br {
        display: none;
    }

    .sect1__background_image {
        background-image: none !important;
    }

    .sect1 {
        margin-top: 0px !important;
        background-image: url(../img/sect1-mob-bg.svg) !important;
        background-size: cover;
        padding-bottom: 0px !important;
    }

    .sect1__underline {
        margin-top: 78px;
        width: 157px !important;
        height: 2px !important;
    }

    .sect2__card {
        padding: 44px 15px !important;
    }

    .card__button {
        margin-top: 29px;
        display: block;
        font-size: 20px;
        line-height: 23px;
        padding: 17px 17px !important;
    }

    .sect2__title {
        font-weight: 900;
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .card__title {
        font-size: 26px !important;
        line-height: 30px !important;
    }

    .card__text {
        font-size: 16px !important;
    }

    .sect2__button {
        font-size: 20px !important;
        line-height: 23px !important;
        padding: 20px 10px !important;
    }

    .sect3__image {
        display: none;
    }

    .sect3__underline {
        padding-bottom: 100px !important;
    }

    .sect3 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 70px;
        background-image: none !important;
    }
    
    .sect3__px {
        padding-left: 20px !important;
        padding-right: 20px !important;   
}

    .form__radio {
        display: block !important;
        width: 70%;
    }

    .sect4__title_second {
        font-size: 20px !important;
        line-height: 28px !importat;
        margin-top: 55px !important;
        margin-bottom: 31px !important;
    }

    .form__input {
        width: 90% !important;
        font-weight: 300;
        font-size: 25px !important;
        line-height: 29px !important;
        color: #0b0b0b;
        padding: 12px 6px !important;
        outline: none;
        transition: .4s all;
        border: none;
        max-width: 540px;
    }

    .form__input::placeholder {
        font-size: 25px !important;
        line-height: 29px !important;
    }

    .form__submit {
        padding: 17px 9px !important;
        width: 60%;
        font-size: 20px !important;
        line-height: 23px !important;
        outline: none !important;
    }

    .sect5 {
        margin-top: 91px !important;
    }

    .sect4__title {
        font-size: 30px !important;
        line-height: 35px !imporant;
    }

    .sect5__title {
        font-size: 30px !important;
        line-height: 35px !important;
        color: #0b0b0b;
        text-transform: uppercase;
        margin-bottom: 32px !important;
    }

    .header {
        padding: 0px 20px !important;
    }

    .sect6__title {
        font-size: 30px !important;
        line-height: 35px !important;
        margin-top: 50px !important;
    }

    .sect6__text {
        font-size: 18px !important;
        margin-top: 25px !important;
    }

    .sect6__button {
        font-size: 20px !important;
        line-height: 23px !important;
        margin-top: 44px !important;
    }

    .footer {
        margin-top: 90px !important;
    }

    .footer__title {
        font-size: 25px !important;
        line-height: 29px !important;
        padding-top: 66px !important;
    }

    .footer__adress,
    .footer__mail,
    .footer__phone {
        font-size: 25px !important;
        line-height: 29px !important;
        margin-top: 10px !important;
    }

    .footer-navbar__nav a,
    .footer-navbar__service a,
    .footer-navbar__nav h3,
    .footer-navbar__service h3 {
        font-size: 25px !important;
        line-height: 29px !important;
        padding-top: 10px !important;
    }

    .sect4__button {
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .sect5__button {
        font-size: 19px !important;
        line-height: 23px !important;
    }
}

@media (min-width: 992px) {
    #hamburger {
        display: none;
    }

    .sect1__margin {
        margin-top: 41px;
        padding-left: 106px !important;
    }

    .sect3__right {
        padding-left: 0px !important;
        margin-top: 90px;
    }

    .sect3__right {
        padding-left: 109px !important;
        margin-top: 90px;
    }

    .sect3 {
        padding-top: 161px;
        background-image: url(../img/sect3-bg.svg);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .sect3__underline {
        background-image: none !important;
        padding-bottom: 167px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

#hamburger {
    margin-right: 20px;
    cursor: pointer;
    transition: all .5s;
}

#hamburger div {
    height: 3px;
    background-color: #0b0b0b;
    transition: all .3s;
}

#hamburger div:nth-child(1) {
    width: 40px;
}

#hamburger div:nth-child(2) {
    width: 40px;
    margin-top: 6px;
}

#hamburger div:nth-child(3) {
    width: 40px;
    margin-top: 6px;
}

.nav-link {
    padding: 9px 0 0 0 !important;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    color: #242323;
}

.nav-link__hover:hover {
    background-color: #E0C0B4;
    padding: 9px 40px !important;
}

.navbar__px-container {
    padding: 0px;
}

.navbar-brand {
    padding-top: 15px;
    width: 90px;
    height: 90px;
    margin-left: 87px;
}

.navbar__inline {
    display: inline-flex;
}

.navbar {
    background-image: url(../img/hairH-1.svg);
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #0b0b0b;
    background-color: #fff;
}

.language__non-active {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #E0C0B4;
}

.nav-link__hover {
    transition: .4s all;
    padding: 9px 40px !important;
    color: #242323 !important;
}

.sect1 {
    margin-top: 161px;
    padding-bottom: 100px;
    background-image: url(../img/elp.svg);
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.px-container {
    padding: 0 61px;
}

.sect1__underline {
    background-color: #231F20;
    width: 207px;
    height: 3px;
    margin-bottom: 67px;
}



.sect1__subtitle {
    margin-top: 38px;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.09em;
    color: #0b0b0b;
}

.sect1__button_left {
    display: block;
    padding: 17px 92px;
    text-transform: uppercase;
    background-color: #231F20;
    font-size: 1.375rem;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}

.sect1__button_right {
    display: block;
    padding: 17px 120px;
    text-transform: uppercase;
    background-color: #D7BDB1;
    font-size: 1.375rem;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 21px;
    text-align: center;
}

.sect1__button {
    display: inline-flex;
    margin-top: 52px;
    padding-bottom: 150px;
}

.sect1__background_image {
    background-image: url(../img/sect1-right.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
}

.navbar__ml_en {
    margin-left: 40px;
}

.sect2__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    color: #0b0b0b;
}

.sect2__title_thin {
    font-weight: 300;
}

.sect2__card {
    background-color: #E0C0B4;
    padding: 44px 40px;
}

.card__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #0b0b0b;
    text-transform: uppercase;
}

.card__button {
    margin-top: 29px;
    display: block;


    font-size: 22px;
    line-height: 29px;
    color: #111111;
    text-transform: uppercase;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 17px 0px;
    transition: .4s all;
}

.card__button:hover {
    color: #fff;
    background-color: #111111;
    text-transform: uppercase;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 17px 0px;
}

.sect2__button {
    margin-top: 72px;
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #231F20;
    padding: 20px 10px;
    transition: .4s all;
}

.sect2__button:hover {
    color: #231F20;
    background-color: #E0C0B4;
    padding: 20px 10px;
}





.sect3__right_text {
    margin-top: 29px;

    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    color: #0b0b0b;
}

.sect3__underline {
    background-image: url(../img/sect3-bg-mobile.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 167px;
    border-bottom: 1px solid #0b0b0b;
}

.sect4__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.sect4 {
    margin-top: 85px;
    background-image: url(../img/sect4-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sect4__form {
    margin-top: 68px;
    width: 100%;
}

.form__text {

    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #0b0b0b;
    text-transform: uppercase;
}

.form__input {
    background-color: #E0C0B4;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0b0b0b;
    padding: 12px 24px;
    outline: none;
    transition: .4s all;
    border: none;
    max-width: 540px;
}

.form__input::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0b0b0b;
}

.form__text_pt {
    padding-top: 14px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #0b0b0b;
    text-transform: uppercase;
}

input::-webkit-calendar-picker-indicator {
    background-color: #E0C0B4;
    transition: .3s all;
}

.form__radio label {
    margin-top: 40px;

    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0b0b0b;
    padding-left: 20px;
}

.form__submit {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #231F20;
    outline: none !important;
    border: none;
    padding: 17px 79px;
    margin-top: 48px;
    text-transform: uppercase;
}

.sect4__underline {
    height: 1px;
    background-color: #0b0b0b;
    width: 100%;
    margin-top: 67px;
}

.sect4__title_second {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #0b0b0b;
    margin-top: 63px;
    margin-bottom: 53px;
}

.sect4__button {
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #231F20;
    padding: 17px 79px;
    margin-bottom: 29px;
}

.sect5__title {
    font-size: 40px;
    line-height: 47px;
    color: #0b0b0b;
    text-transform: uppercase;
    margin-bottom: 105px;
}

.sect5 {
    margin-top: 145px;
}

.sect5-card {
    border: 1px solid #0b0b0b;
    padding: 0px 40px;
}

.sect5-card__image {
    background-image: url(../img/sect5-photo.jpg);
    background-size: cover;
    height: 39vh;
    background-repeat: no-repeat;
    margin-top: 39px;
    margin-bottom: 35px;
}

.sect5-card__title {

    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #0b0b0b;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.sect5-card__text {

    font-weight: 300;
    font-size: 18px;
    line-height: 131.19%;
    color: #0b0b0b;
    margin-bottom: 30px;
}

.sect5-card__button {
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #231F20;
    padding: 17px 10px;
    text-align: center;
    margin-bottom: 40px;
}

.sect5__button {
    display: block;
    font-size: 1.375rem;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 22px 0px;
    background-color: #231F20;
    margin-top: 69px;
}

.sect6 {
    margin-top: 144px;
}

/*

.cl {
  height:200px;
  padding:10px;
}

.cl-yellow { 
  background: #f1c40f; 
}

.cl-blue { 
  background: #3498db; 
}

.cl-red { 
  background: #e74c3c; 
}

.slick-active { 
  padding: 20px 0; 
}

.slick-center { 
  transform: scale(1.8) 
}

.slick-slide:not(.slick-active) { 
  margin: 20px 0; 
}

.child { 
  width:100%; 
}

.slide:not(.slick-active) { 
  cursor: pointer; 
}

.pagination {
  text-align: center; 
  color: $white;
  font-family: $raleway;
  font-size: 1.2rem;
}

.slick-current {
    opacity: 1 !important;
}
*/

.sect6__title {

    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 130px;
}

.sect6__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.09em;
    color: #0b0b0b;
    margin-top: 44px;
}

.sect6__button {
    display: block;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #231F20;
    margin-top: 120px;
    padding: 25px 10px;
    background-color: #E0C0B4;
}

.footer {
    margin-top: 154px;
}

.footer span {
    display: block;
    padding-top: 19px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
}

.footer__bg {
    background-color: #231F20;
}

.footer_pt {
    padding-top: 64px;
}

.footer__title {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-top: 10px;
}

.footer__title_time {


    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-top: 64px;
}

.footer__phone {
    display: block;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
    margin-top: 13px;
}

.footer__adress {
    display: block;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
    margin-top: 38px;
}

.footer__mail {
    display: block;
    margin-top: 13px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
}



.footer-navbar__nav a {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    display: block;
    padding-top: 13px;
}

.footer-navbar__service a {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    display: block;
    padding-top: 13px;
}



.footer-social {
    padding-top: 36px;
}

.footer-social a {
    font-weight: bold;
}

.footer-navbar__service h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-bottom: 21px;
}

.footer-navbar__nav h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-bottom: 21px;
}

.footer__company {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #E0C0B4;
}

.footer__company a {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    border: 1px solid #231F20;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 0em;
    left: 0em;
    padding-left: 0.25em;
    width: 1.25em;
    height: 1.25em;
    color: #fff;
    background-color: #231F20;
    transition: all .4s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.form__radio {
    display: inline-flex;
    padding-left: 2%;
}

.card__text {
    padding-top: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 131.19%;
    color: #0b0b0b;
}

.header {
    padding: 0px 61px;
    background-color: #fff;
}
.sect3__px {
        padding-left: 61px;
        padding-right: 61px;    
}
