@media (min-width: 1480px) and (max-width: 1550px) {
    .header-shop__content a:nth-child(1),
    .header-shop__content a:nth-child(2),
    .header-shop__content a:nth-child(3) {
        margin-right: 60px !important;
    }
}

@media (min-width: 1320px) and (max-width: 1480px) {
    .header-shop__content a:nth-child(1),
    .header-shop__content a:nth-child(2),
    .header-shop__content a:nth-child(3) {
        margin-right: 35px !important;
    }
}

@media (min-width: 992px) and (max-width: 1320px) {
    .sect4 {
        margin-top: 50px !important;
        background-image: none !important;
    }

    .sect3__image {
        width: 100%;
    }

    .sect1__button {
        display: block !important;
        width: 100%;
        margin-top: 51px;
        padding-bottom: 210px;
    }

    .sect1__button_right {
        font-size: 25px !important;
        line-height: 29px !important;
        padding: 17px 20px !important;
        margin-left: 0 !important;
        margin-top: 13px;
    }

    .header-shop__social a:nth-child(1) {
        padding-right: 36px !important;
    }

    .header-shop__links a:nth-child(1) {
        padding-right: 25px !important;
    }
    
    .header-shop__content a:nth-child(1),
    .header-shop__content a:nth-child(2),
    .header-shop__content a:nth-child(3) {
        margin-right: 18px !important;
    }
}

@media (max-width: 991.98px) {
    .px-container {
        padding: 0 20px !important;
    }

    .navbar__px-container {
        padding: 0px
    }

    .navbar-brand {
        width: 74px !importnat;
        height: 74px !important;
        margin-left: 0px !important;
    }

    .brand__m {
        width: 74px;
        height: 74px;
    }

    .navbar {
        background-image: none !important;
        background-color: transparent !important;
    }

    .sect1__button {
        display: block !important;
        margin-top: 52px;
        padding-bottom: 120px !important;
    }

    .sect1__margin {
        margin-top: 41px;
        padding-left: 0px !important;
    }

    .sect1__button_left {
        font-size: 25px !important;
        line-height: 29px !important;
        line-height: 29px;
    }

    .sect1__button_right {
        font-size: 25px !important;
        line-height: 29px !important;
        padding: 17px 20px !important;
        margin-left: 0 !important;
        margin-top: 13px;
    }

    .sect1__subtitle {
        font-weight: 300;
        font-size: 20px !important;
        line-height: 23px !important;
        letter-spacing: 0.09em;
    }

    .sect1__subtitle br {
        display: none;
    }

    .sect1__background_image {
        background-image: none !important;
    }

    .sect1 {
        margin-top: 0px !important;
        background-image: url(../img/sect1-mob-bg.svg) !important;
        background-size: cover;
        padding-bottom: 0px !important;
    }

    .sect1__underline {
        margin-top: 78px !important;
        width: 157px !important;
        height: 2px !important;
    }

    .sect2__card {
        padding: 44px 15px !important;
    }

    .card__button {
        margin-top: 29px;
        display: block;
        font-size: 20px;
        line-height: 23px;
        padding: 17px 17px !important;
    }

    .sect2__title {
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .sect2__title_thin {
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .card__title {
        font-size: 26px !important;
        line-height: 30px !important;
    }

    .card__text {
        font-size: 16px !important;
    }

    .sect2__button {
        font-size: 20px !important;
        line-height: 23px !important;
        padding: 20px 10px !important;
    }

    .sect3__image {
        display: none;
    }

    .sect3__underline {
        padding-bottom: 100px !important;
    }

    .sect3 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 70px;
        background-image: none !important;
    }

    .sect3__px {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .form__radio {
        display: block !important;
        width: 70%;
    }

    .sect4__title_second {
        font-size: 20px !important;
        line-height: 28px !importat;
        margin-top: 55px !important;
        margin-bottom: 31px !important;
    }

    .form__input {
        width: 90% !important;
        font-weight: 300;
        font-size: 25px !important;
        line-height: 29px !important;
        color: #0b0b0b;
        padding: 12px 6px !important;
        outline: none;
        transition: .4s all;
        border: none;
        max-width: 540px;
    }

    .form__input::placeholder {
        font-size: 25px !important;
        line-height: 29px !important;
    }

    .form__submit {
        padding: 17px 9px !important;
        width: 60%;
        font-size: 20px !important;
        line-height: 23px !important;
        outline: none !important;
    }

    .sect5 {
        margin-top: 91px !important;
    }

    .sect4__title {
        font-size: 30px !important;
        line-height: 35px !imporant;
    }

    .sect5__title {
        font-size: 30px !important;
        line-height: 35px !important;
        color: #0b0b0b;
        text-transform: uppercase;
        margin-bottom: 32px !important;
    }

    .header {
        padding: 0px 20px !important;
        background-color: transparent !important;
    }

    .change {
        background-color: #fff !important;
    }

    .sect6__title {
        font-size: 30px !important;
        line-height: 35px !important;
        margin-top: 50px !important;
    }

    .sect6__text {
        font-size: 18px !important;
        margin-top: 25px !important;
    }

    .sect6__button {
        font-size: 20px !important;
        line-height: 23px !important;
        margin-top: 44px !important;
    }

    .footer {
        margin-top: 90px !important;
    }

    .footer__title {
        font-size: 25px !important;
        line-height: 29px !important;
        padding-top: 66px !important;
    }

    .footer__adress,
    .footer__mail,
    .footer__phone {
        font-size: 25px !important;
        line-height: 29px !important;
        margin-top: 10px !important;
    }

    .footer-navbar__nav a,
    .footer-navbar__service a,
    .footer-navbar__nav h3,
    .footer-navbar__service h3 {
        font-size: 25px !important;
        line-height: 29px !important;
        padding-top: 10px !important;
    }

    .faq-card__title h3 {
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .faq__card:hover .faq-card__title h3 {
        transform: translateX(0px) !important;
    }

    .faq-card__header {
        padding: 0px !important;
        background: #E0C0B4;
        border: 1px solid #0b0b0b;
        box-sizing: border-box;
        border-radius: 0px !important;
        margin-bottom: 47px !important;
    }

    .faq-card__body {
        font-size: 20px !important;
        line-height: 131.19% !important;
        border: none !important;
        box-sizing: border-box;
        margin-bottom: 80px !important;
        padding: 10px !important;
    }

    .faq-card__title img {
        transform: translateY(14px) !important;
    }

    .doctors-card__text a {
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .sect4__button {
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .sect5__button {
        font-size: 19px !important;
        line-height: 23px !important;
    }

    .footer_pt {
        padding-top: 0px !important;
    }

    .shopcart__text h1 {
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .faq h1 {
        margin-top: 38px;
        margin-bottom: 33px !important;
        font-size: 30px !important;
        line-height: 35px !important;
        padding: 0px 10px;
    }

    .shopcart-card__text {
        padding-left: 0px !important;
    }

    .shopcart__button,
    .checkout__form button {
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .checkout__card {
        display: none;
    }

    .checkout__title {
        margin-bottom: 16px !important;
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .checkout__number {
        display: block;
        margin-bottom: 16px;
        color: #848484 !important;
        font-size: 20px !important;
        line-height: 23px !important;
    }

    .checkout__price {
        font-size: 25px !important;
        line-height: 29px !important;
    }

    .checkout__form h2,
    .checkout__form input,
    .checkout__form input::placeholder,
    .checkout__form textarea,
    .checkout__form textarea::placeholder,
    .checkout__form select {
        font-size: 25px !important;
        line-height: 29px !important;
    }

    .doctors-card__text h2 {
        font-size: 24px !important;
        line-height: 28px !important;
    }

    .doctors-card__text span {
        display: none !important;
    }

    .shopcart-card__number input {
        width: 30% !important;
        margin-left: 10px !important;
    }

    .shopcart-card__bg {
        height: 25vh !important;
    }

    .shopcart-card__number {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        padding-right: 0px !important;
    }

    .doctors-card__bg {
        background-image: url(../img/antoshka.jpg);
        background-repeat: no-repeat;
        height: 85vw !important;
    }

    .nav-item__width {
        width: 100% !important;
        transition: .5s all;
    }

    .doctors-card__text {
        padding-left: 0px !important;
    }

    .header__shop {
        display: none;
    }




}

@media (min-width: 992px) {
    #hamburger {
        display: none;
    }

    .sect1__margin {
        margin-top: 41px;
        padding-left: 106px !important;
    }

    .sect3__right {
        padding-left: 0px !important;
        margin-top: 90px;
    }

    .sect3__right {
        padding-left: 109px !important;
        margin-top: 90px;
    }

    .sect3 {
        padding-top: 161px;
        background-image: url(../img/sect3-bg.svg);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .sect3__underline {
        background-image: none !important;
        padding-bottom: 167px;
    }

    .sidebar__mobile {
        display: none;
    }

    .doctors-card__text {
        padding-left: 35px !important;
    }

    .faq-card__header {
        padding: 25px 18px !important;
        background: #E0C0B4;
        border: 1px solid #0b0b0b;
        box-sizing: border-box;
        border-radius: 0px !important;
        margin-bottom: 21px !important;
    }

}

body {
    font-family: 'Roboto', sans-serif;
}

a,
button {
    text-decoration: none !important;
}

#hamburger {
    cursor: pointer;
    transition: all .5s;
}

#hamburger div {
    height: 3px;
    background-color: #0b0b0b;
    transition: all .3s;
}

#hamburger div:nth-child(1) {
    width: 40px;
}

#hamburger div:nth-child(2) {
    width: 40px;
    margin-top: 6px;
}

#hamburger div:nth-child(3) {
    width: 40px;
    margin-top: 6px;
}

.nav-link {
    padding: 9px 0 0 0 !important;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    color: #242323;
}

.nav-link__hover {
    transition: .4s all;
    padding: 9px 40px !important;
    color: #242323 !important;
}

.nav-link__hover:hover {
    background-color: #E0C0B4;
    padding: 9px 40px;
}

.navbar__px-container {
    padding: 0px;
}

.navbar-brand {
    padding-top: 15px;
    width: 90px;
    height: 90px;
    margin-left: 87px;
}

.side-brand {
    width: 74px !importnat;
    height: 74px !important;
    padding-top: 2px !important;
    margin-left: 20px !important;
}

.navbar__inline {
    display: inline-flex;
}

.navbar {
    background-image: url(../img/hairH-1.svg);
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #0b0b0b;
    background-color: #fff;
}

.language__non-active {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #E0C0B4 !important;
}


.sect1 {
    margin-top: 141px;
    padding-bottom: 100px;
    background-image: url(../img/elp.svg);
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.px-container {
    padding: 0 61px;
}

.sect1__underline {
    margin-top: 78px;
    background-color: #231F20;
    width: 207px;
    height: 3px;
    margin-bottom: 67px;
}



.sect1__subtitle {
    margin-top: 38px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #0b0b0b;
}

.sect1__button_left {
    display: block;
    padding: 17px 92px;
    text-transform: uppercase;
    background-color: #231F20;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}

.sect1__button_right {
    display: block;
    padding: 17px 120px;
    text-transform: uppercase;
    background-color: #D7BDB1;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 21px;
    text-align: center;
}

.sect1__button {
    display: inline-flex;
    margin-top: 51px;
    padding-bottom: 210px;
}

.sect1__background_image {
    background-image: url(../img/sect1-right.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
}

.navbar__ml_en {
    margin-left: 40px;
}

.sect2__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #0b0b0b;
}

.sect2__title_thin {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #0b0b0b;
}

.sect2__card {
    background-color: #E0C0B4;
    padding: 44px 40px;
}

.card__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #0b0b0b;
    text-transform: uppercase;
}

.card__button {
    margin-top: 29px;
    display: block;


    font-size: 22px;
    line-height: 29px;
    color: #111111;
    text-transform: uppercase;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 17px 0px;
    transition: .4s all;
}

.card__button:hover {
    color: #fff;
    background-color: #111111;
    text-transform: uppercase;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 17px 0px;
}

.sect2__button {
    margin-top: 72px;
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #231F20;
    padding: 20px 0px;
    transition: .4s all;
}

.sect2__button:hover {
    color: #231F20;
    background-color: #E0C0B4;
    padding: 20px 10px;
}

.sect3__right_text {
    margin-top: 29px;

    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    color: #0b0b0b;
}

.sect3__underline {
    background-image: url(../img/sect3-bg-mobile.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 167px;
    border-bottom: 1px solid #0b0b0b;
}

.sect4__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.sect4 {
    margin-top: 85px;
    background-image: url(../img/sect4-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sect4__form {
    margin-top: 68px;
    width: 100%;
}

.form__text {

    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #0b0b0b;
    text-transform: uppercase;
}

.form__input {
    background-color: #E0C0B4;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0b0b0b;
    padding: 12px 24px;
    outline: none;
    transition: .4s all;
    border: none;
    max-width: 540px;
}

.form__input::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0b0b0b;
}

.form__text_pt {
    padding-top: 14px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #0b0b0b;
    text-transform: uppercase;
}

input::-webkit-calendar-picker-indicator {
    background-color: #E0C0B4;
    transition: .3s all;
}

.form__radio label {
    margin-top: 40px;

    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0b0b0b;
    padding-left: 20px;
}

.form__submit {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #231F20;
    outline: none !important;
    border: none;
    padding: 17px 79px;
    margin-top: 48px;
    text-transform: uppercase;
}

.sect4__underline {
    height: 1px;
    background-color: #0b0b0b;
    width: 100%;
    margin-top: 67px;
}

.sect4__title_second {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #0b0b0b;
    margin-top: 63px;
    margin-bottom: 53px;
}

.sect4__button {
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #231F20;
    padding: 17px 79px;
    margin-bottom: 29px;
}

.sect5__title {
    font-size: 40px;
    line-height: 47px;
    color: #0b0b0b;
    text-transform: uppercase;
    margin-bottom: 105px;
}

.sect5 {
    margin-top: 145px;
}

.sect5-card {
    border: 1px solid #0b0b0b;
    padding: 0px 40px;
}

.sect5-card__image {
    background-image: url(../img/sect5-photo.jpg);
    background-size: cover;
    height: 39vh;
    background-repeat: no-repeat;
    margin-top: 39px;
    margin-bottom: 35px;
}

.sect5-card__title {

    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #0b0b0b;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.sect5-card__text {

    font-weight: 300;
    font-size: 18px;
    line-height: 131.19%;
    color: #0b0b0b;
    margin-bottom: 30px;
}

.sect5-card__button {
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #231F20;
    padding: 17px 10px;
    text-align: center;
    margin-bottom: 40px;
}

.sect5__button {
    display: block;
    font-size: 1.375rem;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 22px 0px;
    background-color: #231F20;
    margin-top: 69px;
}

.sect6 {
    margin-top: 144px;
}

/*

.cl {
  height:200px;
  padding:10px;
}

.cl-yellow { 
  background: #f1c40f; 
}

.cl-blue { 
  background: #3498db; 
}

.cl-red { 
  background: #e74c3c; 
}

.slick-active { 
  padding: 20px 0; 
}

.slick-center { 
  transform: scale(1.8) 
}

.slick-slide:not(.slick-active) { 
  margin: 20px 0; 
}

.child { 
  width:100%; 
}

.slide:not(.slick-active) { 
  cursor: pointer; 
}

.pagination {
  text-align: center; 
  color: $white;
  font-family: $raleway;
  font-size: 1.2rem;
}

.slick-current {
    opacity: 1 !important;
}
*/

.sect6__title {

    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 130px;
}

.sect6__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.09em;
    color: #0b0b0b;
    margin-top: 44px;
}

.sect6__button {
    display: block;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #231F20;
    margin-top: 120px;
    padding: 25px 10px;
    background-color: #E0C0B4;
}

.footer {
    margin-top: 154px;
}

.footer span {
    display: block;
    padding-top: 19px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
}

.footer__bg {
    background-color: #231F20;
}

.footer_pt {
    padding-top: 64px;
}

.footer__title {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-top: 10px;
}

.footer__title_time {


    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-top: 64px;
}

.footer__phone {
    display: block;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
    margin-top: 13px;
}

.footer__adress {
    display: block;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
    margin-top: 38px;
}

.footer__mail {
    display: block;
    margin-top: 13px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #E0C0B4;
}

.footer-navbar__nav a {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    display: block;
    padding-top: 13px;
}

.footer-navbar__service a {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    display: block;
    padding-top: 13px;
}

.footer-social {
    padding-top: 36px;
}

.footer-social a {
    font-weight: bold;
}

.footer-navbar__service h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-bottom: 21px;
}

.footer-navbar__nav h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E0C0B4;
    padding-bottom: 21px;
}

.footer__company {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #E0C0B4;
}

.footer__company a {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    border: 1px solid #231F20;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 0em;
    left: 0em;
    padding-left: 0.25em;
    width: 1.25em;
    height: 1.25em;
    color: #fff;
    background-color: #231F20;
    transition: all .4s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.form__radio {
    display: inline-flex;
    padding-left: 2%;
}

.card__text {
    padding-top: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 131.19%;
    color: #0b0b0b;
}

.header {
    padding: 0px 61px;
    background-color: #fff;
}

.sect3__px {
    padding-left: 61px;
    padding-right: 61px;
}

.sidebar__mobile {
    background-color: #E0C0B4;
    height: 100vh;
    z-index: 12150;
    position: fixed;
    right: -100%;
    width: 100%;
    top: 0;
    transition: 1s all;
}

.active-sidebar {
    right: 0;
    transition: 1s all;
}

.nav__chrested {
    margin-top: 29px;
    margin-right: 20px;
    cursor: pointer;
    transition: all .5s;
}

.nav__chrested div {
    height: 3px;
    background-color: #0b0b0b;
    transition: all .3s;
}

.nav__chrested div:nth-child(1) {
    width: 32px;
    transform: rotate(45deg);
}

.nav__chrested div:nth-child(2) {
    width: 32px;
    transform: rotate(-45deg);
    margin-top: -3px;
}

.sidebar-mobile__nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
}

.sidebar-mobile__items {
    display: block;
    width: 100%;
}

.sidebar-mobile__items a {
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    line-height: 23px;
    color: #0b0b0b;
    margin-top: 34px;
}

.sidebar-mobile__lang a,
.sidebar-mobile__lang span {
    font-size: 20px;
    line-height: 23px;
    color: #0b0b0b;
    text-transform: uppercase;
}

.sidebar-mobile__lang {
    margin-top: 46px;
}

.sidebar-mobile__social_phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    margin-top: 8vh;
}

.sidebar-mobile__social a {
    font-weight: 500;
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    color: #0b0b0b;
    text-transform: uppercase;
    margin-top: 29px;
    margin-bottom: 45px;
}

.non-active {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF !important;
}

.shopcart__text h1 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #0b0b0b;
}

.shopcart__text p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 23px;
    color: #848484;
}

.shopcart__text span {
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #231F20;
}

.shopcart__button {
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 65px;
    padding: 17px;
    background-color: #231F20;
}

.shopcart__card {
    border: 1px solid #0b0b0b;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 58px;
}

.shopcart-card__padding {
    padding: 40px 22px;
}

.shopcart-card__bg {
    background-image: url(../img/product.png);
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
}

.shopcart-card__number div {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #242323;
}

.shopcart-card__number div:nth-child(1) {
    padding: 12px 37px;
    background-color: #E0C0B4;
}

.shopcart-card__number img:nth-child(2) {
    padding-top: 8px;
    display: block;
    text-align: left;
}

.shopcart-card__chrested div {
    height: 2px;
    background-color: #E0C0B4;
    transition: all .3s;
}

.shopcart-card__chrested div:nth-child(1) {
    width: 23px;
    transform: rotate(45deg);
}

.shopcart-card__chrested div:nth-child(2) {
    width: 23px;
    transform: rotate(-45deg);
    margin-top: -2px;
}

.shopcart-card__number {
    display: inline-flex;
    width: 100%;
    padding-right: 50px;
}

.shopcart-card__number input {
    border: none !important;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #242323;
    width: 50%;
    margin-left: 40px;
    outline: none !important;
}

.shopcart-card__text h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #0b0b0b;
}

.shopcart-card__text p {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
    margin-top: 19px;
    text-transform: uppercase;
    color: #848484;
}

.shopcart-card__text {
    padding-left: 25px;
}

.shopcart-card__text span {
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #0b0b0b;
    padding-top: 22px;
    padding-bottom: 27px;
}

.checkout__title {
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #0b0b0b;
    margin-bottom: 58px;
}

.checkout__number {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #231F20;
}

.checkout__price {
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #231F20;
    margin-bottom: 38px;
}

.checkout__card {
    padding: 42px 57px !important;
    border: 1px solid #0b0b0b;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.checkout-card__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #0b0b0b;
}

.checkout-card__inline {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.checkout-card__price {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #0b0b0b;
    transform: translateY(-6px);
}

.checkout-card__name {
    margin-bottom: 26px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #848484;
    text-transform: uppercase;
}

.checkout-card__volume {
    padding: 9px 40px;
    background-color: #E0C0B4;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #242323;
}

.checkout-card__inline_bottom {
    display: inline-flex;
}

.checkout-card__count {
    font-size: 18px;
    line-height: 21px;
    color: #242323;
    padding-top: 9px;
    margin-left: 68px;
}

.checkout__form h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #231F20;
    margin-bottom: 28px;
    margin-top: 30px;
}

.checkout__form h2:nth-child(1) {
    margin-top: 0px;
}

.checkout__form h2:nth-child(2) {
    margin-top: 30px;
}

.checkout__form input {
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #242323;
    width: 100%;
    padding: 20px;
    background-color: #E0C0B4;
    border: none !important;
    outline: none !important;
    margin-bottom: 15px;
}

.checkout__form textarea {
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #242323;
    padding: 20px;
    width: 100%;
    background-color: #E0C0B4;
    border: none !important;
    outline: none !important;
    margin-bottom: 40px;
}

.checkout__form textarea::placeholder {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #242323;
    background-color: #E0C0B4;
}

.checkout__form input::placeholder {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #242323;
}

.checkout__form button {
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #231F20;
    padding: 17px;
    border: none !important;
    outline: none !important;
}

.checkout__form select {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #242323;
    padding: 20px;
    width: 100%;
    background-color: #E0C0B4;
    border: none !important;
    outline: none !important;
    margin-bottom: 15px;
}

.shopcart-card__chrested {
    position: absolute;
    right: 30px;
    cursor: pointer;
    z-index: 1101;
    padding: 15px 5px;
    transition: .4s all;
}

.shopcart-card__chrested:hover {
    transform: rotate(270deg);
}

.shopcart-card__image img {
    cursor: pointer;
}

.shopcart-card__form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item__width {
    width: 32%;
    transition: .5s all;
}

.nav-link__text {
    font-weight: bold;
    font-size: 22px;
    padding: 22px 0px !important;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #0b0b0b;
    margin-bottom: 20px;
    border: none !important;
    border-radius: 0px !important;
    border: 3px solid #fff !important;
    transition: .4s all;
}

.nav-pills .active {
    border: 3px solid #E0C0B4 !important;
}

.nav-link__text:hover {
    color: #0b0b0b;
    border: 3px solid #E0C0B4 !important;
}

.nav-pills li:nth-child(1),
.nav-pills li:nth-child(2),
.nav-pills li:nth-child(4),
.nav-pills li:nth-child(5) {
    margin-right: 2% !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #0b0b0b !important;
    background-color: #E0C0B4 !important;
}

.doctors .nav-item:hover {}

.nav-pills {
    border-bottom: 1px solid #0b0b0b;
}

.doctors__card {
    border: 1px solid #0b0b0b;
    box-sizing: border-box;
    padding: 25px 25px 40px 28px;
    margin-top: 40px;
}

.doctors-card__bg {
    background-image: url(../img/antoshka.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    height: 100%;
}

.doctors-card__text h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #0b0b0b;
}

.doctors-card__text span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #939393;
    margin-top: 14px;
    margin-bottom: 10px;
}

.doctors-card__text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 131.19%;
    color: #0b0b0b;
    margin-bottom: 24px;
}

.doctors-card__text a {
    display: block;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #231F20;
    padding: 17px 5px;
}

.faq h1 {
    margin-top: 38px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #0b0b0b;
    text-align: center;
    margin-bottom: 60px;
}

.faq__card {
    outline: none !important;
    border: none !important;
}





.faq-card__title {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.faq-card__title img {
    transform: translateY(8px);
}

.faq-card__title h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: left !important;
    color: #0b0b0b;
    outline: none !important;
    border: none !important;
    transition: .4s all;
}

.faq__card:hover .faq-card__title h3 {
    text-decoration: none !important;
    transform: translateX(8px);
    color: #0b0b0b;
    outline: none !important;
    border: none !important;
}

.faq-card__body {
    font-weight: 300;
    font-size: 18px;
    line-height: 131.19%;
    color: #0b0b0b;
    outline: none !important;
    border: 1px solid #0b0b0b;
    box-sizing: border-box;
    margin-bottom: 66px;
    padding: 47px 45px 80px;
}


.header-shop__phone a {
    font-size: 20px;
    line-height: 23px;
    display: block;
    margin-top: 18px;
    color: #8E8E8E;
}



.header-shop__links a {
    font-size: 20px;
    line-height: 23px;
    margin-top: 18px;
    display: inline-block;
    text-transform: uppercase;
    color: #8E8E8E;
}

.header-shop__links a:nth-child(1) {
    padding-right: 50px;
}

.header-shop__social a:nth-child(1) {
    padding-right: 55px;
}

.header-shop__content a:nth-child(1),
.header-shop__content a:nth-child(2),
.header-shop__content a:nth-child(3) {
    margin-right: 70px;
}

.header-shop__social a {
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    color: #8E8E8E;
    margin-top: 18px;
}

.header-shop__lang a {
    font-size: 18px;
    line-height: 21px;
    color: #242323;
    text-transform: uppercase;
    margin-top: 18px;
    display: inline-block;
}


.header-shop__underline_bot {
    border-bottom: 1px solid #0b0b0b;
    position: relative;
}



.header-shop__underline {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #8E8E8E;
}





.header-shop__content a {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #242323;
    margin-top: 30px;
    display: inline-block;
    transition: .4s all;
    border-bottom: 4px solid #fff;
    transform: translateY(-8px);
}

.header-shop__content a:hover {
    color: #242323;
    border-bottom: 4px solid #E0C0B4;
}
.header-shop__brand img{
    margin-left: 87px;
    margin-bottom: -13px;
    margin-top: -13px;
}
