@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600');

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body {
    background-color: #FAFAFA;
}

#portfolio {
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

#portfolio::-webkit-scrollbar {
    display: none;
}

#portfolio div {
    width: 25%;
    height: 31vw;
    flex-shrink: 0;
    background-size: cover;
    scroll-snap-align: start;
    filter: brightness(0.2);
    background-position: center;
    padding: 40px;
}

.px-7 {
    padding-right: 7vw;
    padding-left: 7vw;
}

.bg-fa {
    background-color: #FAFAFA;
}

#main-logo {
    width: calc(100px + 1vw);
}

.nav-links li {
    font-size: 21px;
    margin-left: 55px;
    font-family: 'Gilroy';
    font-weight: 600;
}

.nav-links li a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #171615 !important;
    transition: all .3s;
}

.nav-links li a:hover {
    color: #535354 !important;
    padding-top: 4px;
    padding-bottom: 12px;
}

.button-custom-outline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 34px !important;
    padding-right: 34px !important;
    border: 1px solid #535354;
}

#h1-main {
    font-size: 55px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

#h1-main-brief {
    color: #fff;
    font-size: 42px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}


.mt-15 {
    margin-top: 15vh;
}

.v-34 {
    height: 1px !important;
    width: 34px !important;
    padding: 0px !important;
    background-color: #171615;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 13px;
}

.v-34-brief {
    height: 1px !important;
    width: 34px !important;
    padding: 0px !important;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 13px;
}

.gilroy-bold-13 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.gilroy-bold-26 {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.gilroy-bold-20 {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
}

.gilroy-bold-13-brief {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.btn-custom {
    border: 1px solid #171615;
    background-color: #171615;
    color: #fff;
}

.btn-custom-outline {
    border: 1px solid #171615;
    background-color: transparent;
}

.btn-custom-outline-white {
    border: 1px solid #fff;
    color: #fff;
}

.btn-custom-outline:hover, .btn-custom:hover, .btn-custom-outline-white:hover {
    background-color: #F84822;
    color: #fff;
    border-color: #F84822;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    padding: 21px 34px;
    font-weight: 600;
    transition: all .3s;
    border-radius: 0px;
    text-transform: uppercase;
}

.btn:focus {
    box-shadow: none;
}

.section-header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

.grey {
    color: #CACACA;
}

.bg-white {
    background-color: #fff !important;
}

.custom-card {
    background-color: #fff;
    padding: 60px;
    transition: all .3s;
    margin-bottom: 30px;
}

.custom-card:hover {
    box-shadow:  0 0 40px rgba(0,0,0,0.05);
}

.v-55-fat {
    height: 2px;
    width: 55px;
    background-color: #CACACA;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 13px;
}

.gilroy-21-bold {
    color: #CACACA;
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    font-weight: 700;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #535354;
    line-height: 26px;
}

.bg-black {
    background-color: #171615;
}

.v-line-full {
    height: 1px;
    widows: 100%;
    background-color: #D9D9D9;
}

.v-21-orange {
    height: 2px;
    background-color: #F84822;
    width: 21px;
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 5px;
}

.option-header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 3px;
}

input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    font-family: 'Gilroy', sans-serif;
    border-bottom: 1px solid #D9D9D9;
    padding: 21px 0px;
    resize: none;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    font-family: 'Gilroy', sans-serif;
}

.w-100 {
    width: 100%;
}

.footer-contacts-h3 {
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.footer-contacts-h3-brief {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.contacts a {
    color: #fff;
    font-size: 21px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.v-8-fat {
    width: 8px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 13px;
}

.v-55-orange {
    height: 2px;
    width: 55px;
    background-color: #F84822;
}

.cards-options {
    font-size: 16px;
    color: #8B8B8B;
    font-family: 'Gilroy', sans-serif;
}



#h1-second-brief {
    color: #fff;
    font-size: 40px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}

.brief-text {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
   
}

.brief-form input {
    border-bottom: 1px solid #000;
    color: #000;
    padding: 10px 0px 0px 0px;
}

.group            { 
  position:relative; 
  margin-bottom:45px; 
}
.brief-form input              {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.brief-form input:focus         { outline:none; }

/* LABEL ======================================= */
.brief-form label                {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.brief-form input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:#171615;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:300px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#171615; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.brief-form input:focus ~ .bar:before, .brief-form input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.brief-form input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#757575; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#757575; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#757575; }
  to    { width:0; background:transparent; }
}